{% extends 'app/base/report_base.html' %}

{% block content %}


<div>
    <div style="font-size: 0.75rem;">
         <!-- Year -->
        <p class="text-xl"><b>{{'mdrtb.year'|get_message:locale|default:"en"}}:</b> {{year}}</p>
        <!-- Region -->
        <p class="text-xl"><b>{{'mdrtb.region'|get_message:locale|default:"en"}}:</b> {{region}}</p>
        <!-- District -->
        <p class="text-xl"><b>{{'mdrtb.district'|get_message:locale|default:"en"}}:</b> {{district}}</p>
        <!-- Facility -->
        <p class="text-xl">
            <b>{{ 'mdrtb.facility'|get_message:locale|default:"en" }}:</b>
            {% if facility %}
            {{ facility }}
            {% else %}
            {{ 'mdrtb.none'|get_message:locale|default:"en" }}
            {% endif %}
        </p>
        <!-- Month or Quarter (conditional) -->
        <p><b>{{'mdrtb.month.start'|get_message:locale|default:"Start Month"}}:</b> {{month}}</p>
        <p><b>{{'mdrtb.month.end'|get_message:locale|default:"End Month"}}:</b> {{month2}}</p>

        <!-- Auto-detected Quarter -->
        {% if quarter_display %}
        <p><b>{{'mdrtb.quarter'|get_message:locale|default:"Quarter"}}:</b> {{quarter_display}}</p>
        {% endif %}
        <!-- List -->
        <p class="text-xl"><b>{{'mdrtb.list'|get_message:locale|default:"en"}}:</b> {{listname}}</p>
    </div>
    <div id="patientlist">{{ string_data|safe }}</div>

    <input id="exportButton" type="button" onclick="tableToExcel('patientlist', 'Patient List')"
           value="{{'mdrtb.exportToExcelBtn'|get_message:locale|default:"en"}}" />
    <input id="printButton" type="button" onclick="printForm()"
           value="{{'mdrtb.print'|get_message:locale|default:"en"}}" />
    <button id="saveButton" onclick="saveHtml('patientlist', 'Patient List', 'DOTSTB')">{{'mdrtb.save'|get_message:locale|default:"en"}}</button>
    <a href="/" type="button" id="back" name="back">{{'mdrtb.back'|get_message:locale|default:"en"}}</a>
    <script>
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("saveButton").disabled = true;
        } else {
            document.getElementById("saveButton").disabled = false;
        }
    </script>

</div>

{% endblock %}
