SECRET_KEY=your-secret-key-here
DEBUG=False

LOCAL_IP_ADDRESS=127.0.0.1

ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://46.20.206.173:38080,http://127.0.0.1:8080

# REST_API_BASE_URL=http://46.20.206.173:38080/openmrs/ws/rest/v1/
REST_API_BASE_URL=http://127.0.0.1:8080/openmrs/ws/rest/v1/

# Qualis integration
QUALIS_API_BASE_URL=http://46.20.206.172:8083/QuaLIS/
QUALIS_API_CREDENTAILS=username:password

# Performance test settings
MDRTB_WEB_URL=http://127.0.0.1:8000
MDRTB_TEST_USERNAME=admin
MDRTB_TEST_PASSWORD=Admin1234
