arrow==1.2.3
asgiref==3.5.2
autopep8
binaryornot==0.4.4
certifi
chardet==5.0.0
charset-normalizer
click==8.1.3
colorama
cookiecutter==2.1.1
Django==4.1.1
gunicorn
idna
Jinja2==3.1.2
jinja2-time==0.2.0
MarkupSafe==2.1.1
pycodestyle
python-dateutil==2.8.2
python-dotenv==1.0.0
redis==5.0.1
python-slugify==6.1.2
PyYAML==6.0.2
requests==2.32.3
six
sqlparse==0.4.2
text-unidecode
tomli
tzdata==2022.2
urllib3==2.2.3
whitenoise
django-cors-headers==4.2.0
bs4
pytest
pytest-xdist