{% extends 'app/base/base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}


<section id="modal"
  class="flex flex-col justify-center transition-opacity ease-in-out duration-500 opacity-0 backdrop-blur-3xl inset-0 z-50 shadow-2xl  m-10  bg-white w-fit mx-auto p-8 absolute top-0 left-0 right-0 bottom-0 h-min my-auto ">
  <div class="flex items-center justify-between ">
    <h3 id="modal-title" class="text-3xl"></h3>
    <svg id="close-modal" onclick="closeModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white bg-red-700 cursor-pointer">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>


  </div>
  <div class="m-4">
    <div id="modal-body" class="flex-column-center space-y-2 h-min w-fit bg-gray-200 p-4 rounded-md shadow-md">


    </div>


</section>

<div class="p-2 flex-column-center space-y-6">
  {% include 'app/components/patient_banner.html' %}
  <section>
    <div class="m-5 md:m-2">
      <div class="py-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <h2 class="text-4xl font-bold leading-tight text-[#2d9cdb]">Enrolled Programs</h2>
            <a class="cancel-button" href="{% url 'dotsprogramenroll' uuid=uuid %}?flow=new" type="button">
              {{'general.add'|get_message_openMRS:request.session.locale}}
              {{'general.new'|get_message_openMRS:request.session.locale}}
            </a>


          </div>

        </div>
        {% if programs %}
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">

            <table class="min-w-full leading-normal">
              <thead>
                <tr class="">
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase">
                    {{'Program.program'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase">
                    {{'Program.dateEnrolled'|get_message_openMRS:request.session.locale}}
                  </th>

                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Program.location'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Program.dateCompleted'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'general.view'|get_message_openMRS:request.session.locale}}
                    {{'Program.states'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                  </th>










                </tr>
              </thead>
              <tbody>

                {% for program in programs %}

                <tr>
                  <td class="px-5 py-5 border-b border-gray-200 w-fit  text-sm">
                    <a href="{% if program.program.uuid == dots_program %}{% url 'editdotsprogram' uuid=uuid programid=program.uuid %}{% else %}{% url 'editmdrtbprogram' uuid=uuid programid=program.uuid %}{% endif %}"
                      class="cancel-button flex items-center space-x-3">
                      <div>{{program.program.name}}</div>
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-4 h-4">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                      </div>

                    </a>


                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {{program.dateEnrolled|iso_to_normal_date}}</td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {% if program.location %}
                    {{program.location.name}}
                    {% else %}
                    <p>None</p>
                    {% endif %}
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {{program.dateCompleted|iso_to_normal_date }}</td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <button onclick="showStatesModal(this,'{{program.program.name}}')"
                      data-program-states="{{program.states}}" type="button" class="button-primary">
                      {{'general.view'|get_message_openMRS:request.session.locale}}
                      {{'Program.states'|get_message_openMRS:request.session.locale}}
                    </button>
                  </td>
                  {% if program.program.uuid == dots_program %}
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <a href="{% url 'dashboard' uuid=uuid %}?program={{program.uuid}}" type="button"
                      class="cancel-button">{{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                    </a>
                  </td>
                  {% else %}
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <a href="{% url 'mdrdashboard' uuid=uuid mdrtb='mdrtb' %}?program={{program.uuid}}" type="button"
                      class="cancel-button">{{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                    </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}


              </tbody>
            </table>

          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </section>
</div>
<script>
  const stringToJson = (string) => {
    return JSON.parse(string.replaceAll('None', 'null').replaceAll(`'`, `"`))
  }

  const showStatesModal = (element, name) => {
    $('#modal').removeClass('opacity-0')
    let states = $(element).data('programStates')
    $('#modal-title').html(`${name} States`)
    let jsonStates = stringToJson(states)
    if (jsonStates.length > 0) {
      for (state of jsonStates) {
        if (state) {
          $('#modal-body').append(
            ` <div class="flex-center space-x-6">
          <label class="input-label w-fit text-lg flex-wrap">${state.concept} : </label>
          ${state.answer != null ?
              `<span class="text-md font-bold">${state.answer.concept.name}
              ${state.answer.start_date != null ?
                `
              ( since ${state.answer.start_date.substring(0, 10)} )
              `
                : ''
              }
              
              
              </span>`
              : '<span class="text-md font-bold">None</span>'
            }
          
        </div>`
          )
        }

      }
    } else {
      $('#modalBody').append(
        ` <div class="flex-center space-x-6 text-center text-xl">
          No states to show
        </div>`
      )
    }



  }
  function closeModal() {
    $('#modal').addClass('opacity-0')
    $('#modal-body').html(``)
  }
</script>
{% endblock %}