{% extends 'app/base/base_without_menu.html' %}

{% block title %}
{{title}}
{% endblock %}




{% block content %}

<div class="m-16">
  <h1 class="text-[#2D9CDB] text-3xl font-bold">
    {{'Program.add'|get_message_openMRS:request.session.locale}}
  </h1>
  <form action="{% url 'programenroll' uuid=uuid %}" method="post" class="flex flex-col">
    {% csrf_token %}

    <div id="enroll-form" class="p-4 flex flex-col justify-center space-y-4">
      {% if programs %}
      <div class="input-container">
        <label class="input-label required">{{'Program.header'|get_message_openMRS:request.session.locale}}</label>
        <select class="input" name="program" id="program-select" required>
          <option selected value="">Choose a Program</option>
          {% for program in programs %}
          <option value="{{program.uuid}}">{{program.name}}</option>
          {% endfor %}
        </select>

      </div>
      {% endif %}
      <div class="input-container">
        <label class="input-label required"
          for="">{{'mdrtb.enrollment.date'|get_message:request.session.locale}}</label>
        <input class="input" type="date" name="enrollmentdate" id="enrollmentdate" required />
      </div>
      <div class="input-container">
        <label class="input-label"
          for="">{{'mdrtb.enrollment.completionDate'|get_message:request.session.locale}}</label>
        <input class="input" type="date" name="completiondate" id="completiondate" />
      </div>
      {% include 'app/components/locations.html' %}
      <div id="states" class="flex-column-center space-y-4">

      </div>
    </div>
    <div class="flex items-center p-4 space-x-8">
      <button class="bg-[#2D9CDB] p-2 w-1/5 rounded-md text-white">
        Enroll
      </button>
      <a href="javascript:history.go(-1)" class="p-2 font-bold w-1/5 rounded-md underline text-[#044062]">
        Cancel
      </a>
    </div>
  </form>
  <script defer>
    let programs = JSON.parse("{{jsonprograms | escapejs }}")
    $('#program-select').change((selectProgram) => {
      $('#states').html('')
      for (program of programs) {
        if (program.uuid === selectProgram.target.value) {
          $('#states').append(
            ` <h3 id="initialStates" class="primary-heading text-xl" >{{'Program.initialStates' | get_message_openMRS:request.session.locale}}</h3>`
          )
          for (workFlow of program.allWorkflows) {
            if (!workFlow.retired) {
              $('#states').append(
                ` <div class="input-container ">
        <label class="font-bold normal-case text-sm text-[#9E9E9E] w-2/5"
          >${workFlow.concept.display}</label
        >
        <select class="input w-3/5" name=${workFlow.uuid} id=${workFlow.uuid}>
          <option selected value="">Select</option></select>
      </div>
                  `
              )
              workFlow.states.forEach(item => {
                if (item.retired === false) {

                  $(`#${workFlow.uuid}`).append(
                    `<option value=${item.uuid}>${item.concept.display}</option>`
                  )
                }
              })
            }
          }
        }
      }
    })
    let date = new Date();
    let maxDate = date.toISOString().substring(0, 10);
    $('input[type=date]').prop('max', maxDate)




  </script>
</div>

{% endblock %}