{% extends 'app/base/base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}


<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="statesModal" tabindex="-1" aria-labelledby="statesModalTitle" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
      <div
        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800" id="statesModalScrollableLabel">
          Modal title
        </h5>
        <button id="closeModal" type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

        </button>
      </div>
      <div id="modalBody" class="modal-body relative p-4">

      </div>

    </div>
  </div>
</div>

<div class="p-2">
  <div class="patient-banner-container">
    <div class="patient-info-container">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
          <path fill-rule="evenodd"
            d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="font-bold">
        <div>{{patient.name}}</div>
        <div>{{patient.age}} yrs ({{patient.dob | iso_to_normal_date}})</div>
      </div>
    </div>
    <div class="patient-id-container">
      <span>Patient Id:</span><span>{{patient.identifier}}</span>
    </div>
  </div>
  <section>
    <div class="m-5 md:m-2">
      <div class="py-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <h2 class="text-4xl font-bold leading-tight text-[#2d9cdb]">Enrolled Programs</h2>
            <a href="{% url 'programenroll' uuid=uuid %}" class="text-[#044062] font-bold underline">
              {{'general.add'|get_message_openMRS:request.session.locale}}
              {{'general.new'|get_message_openMRS:request.session.locale}}
            </a>

          </div>

        </div>
        {% if programs %}
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">

            <table class="min-w-full leading-normal">
              <thead>
                <tr class="">
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase">
                    {{'Program.program'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase">
                    {{'Program.dateEnrolled'|get_message_openMRS:request.session.locale}}
                  </th>

                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Program.location'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Program.dateCompleted'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'general.view'|get_message_openMRS:request.session.locale}}
                    {{'Program.states'|get_message_openMRS:request.session.locale}}
                  </th>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase ">
                    {{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                  </th>










                </tr>
              </thead>
              <tbody>

                {% for program in programs %}
                <tr>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">{{program.program.name}}</td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {{program.dateEnrolled|iso_to_normal_date}}</td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {% if program.location %}
                    {{program.location.name}}
                    {% else %}
                    None
                    {% endif %}
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    {{program.dateCompleted|iso_to_normal_date }}</td>
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <button id="modalOpenBtn" onclick="showStatesModal('{{program.program.name}}')"
                      data-obj="{{program.states}}" data-bs-toggle="modal" data-bs-target="#statesModal" type="button"
                      class="button-primary">
                      {{'general.view'|get_message_openMRS:request.session.locale}}
                      {{'Program.states'|get_message_openMRS:request.session.locale}}
                    </button>
                  </td>
                  {% if program.program.uuid == "e80fec43-f2b5-45b0-aec1-eaf74be26ff9" %}
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <a href="{% url 'dashboard' uuid=uuid %}?program={{program.uuid}}" type="button"
                      class="cancel-button">{{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                    </a>
                  </td>
                  {% else %}
                  <td class="px-5 py-5 border-b border-gray-200 w-min  text-sm">
                    <a href="{% url 'mdrdashboard' uuid=uuid mdrtb='mdrtb' %}?program={{program.uuid}}" type="button"
                      class="cancel-button">{{'Patient.dashboard.title'|get_message_openMRS:request.session.locale}}
                    </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}


              </tbody>
            </table>

          </div>
        </div>
        {% else %}
        <div style="margin-top: 8rem;" class="flex-column-center space-y-6 mx-auto w-fit rounded-md bg-gray-100 p-4">
          <h1 class="text-center mx-auto font-semibold text-3xl">No programs to display</h1>
          <div class="flex-center justify-center space-x-3">
            <a href="{% url 'programenroll' uuid=uuid %}" class="button-primary text-center flex-1 hover:text-white">Add
              Program</a>
            <a href="javascript:history.go(-1)" class="cancel-button">Go Back</a>
          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </section>
</div>
<script defer>
  if (!$(document.body).hasClass('modal-open')) {
    $('#modalBody').html('')
  }

  const showStatesModal = (name) => {
    let states = $('#modalOpenBtn').data('obj')
    $('#statesModalScrollableLabel').html(`${name} States`)
    let jsonStates = JSON.parse(states.replaceAll(`'`, `"`).replaceAll(`None`, null))
    if (jsonStates.length > 0) {
      for (state of jsonStates) {
        $('#modalBody').append(
          ` <div class="flex-center space-x-6">
          <label class="input-label w-fit text-lg">${state.concept} : </label>
          <span class="text-md font-bold">${state.answer.concept}   ( since ${state.answer.start_date ? state.answer.start_date.substring(0, 10) : 'None'})</span>
        </div>`
        )
      }
    } else {
      $('#modalBody').append(
        ` <div class="flex-center space-x-6 text-center text-xl">
          No states to show
        </div>`
      )
    }



  }
  $('#closeModal').click(() => {
    $('#modalBody').html('')
  })
</script>
{% endblock %}