{% extends 'app/base/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{%block content%}


<div class="w-1/2 mx-auto">
    {% if error %} {{error}} {% endif %}
    <form action="{% url 'profile' %}" method="post" class="flex-column-center">
        {% csrf_token %}
        <div class="m-16 flex-column-center space-y-8">
            {% include 'app/components/breadcrumbs.html'%}

            <h1 class="page-title">
                {{'options.title'|get_message_openMRS:request.session.locale}}
            </h1>
            <div class="enroll_form_bg w-full">
                <h3 class="text-2xl font-bold">{{'options.default.legend'|get_message_openMRS:request.session.locale}}
                </h3>
                {% if default_location %}
                <div id="defaultLocationTrue" class="profile-input-container">
                    <label class="profile-input-label text-md"
                        for="defaultLocation">{{'options.default.location'|get_message_openMRS:request.session.locale}}</label>
                    <button class="ml-4" id="editLocations" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                    </button>
                    <input disabled type="text" class="input form-control" name="location" id="defaultLocation"
                        value="{{default_location.location}}">

                </div>
                {% endif %}


                <div id="defaultLocationFalse" class="profile-input-container flex-col items-start">

                    <label class="profile-input-label text-lg" for="name">
                        {{'options.default.location'|get_message_openMRS:request.session.locale}}
                        <button type="button" hidden id="edit_cancel">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </label>



                    <div>
                        {% include 'app/components/locations.html' %}
                    </div>
                </div>

                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="">{{'options.default.locale'|get_message_openMRS:request.session.locale}}</label>
                    <select required class="input form-control" name="locale">
                        <option selected value="{{default_locale.value}}">{{default_locale.name}}</option>
                        {% for locale in app_locales %}
                        <option value="{{locale.value}}">{{locale.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.proficient.locales'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="proficient_locales" />
                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label w-1/6"
                        for="name">{{'options.showRetiredMessage'|get_message_openMRS:request.session.locale}}</label>
                    <input class="checkbox-input" type="checkbox" value="" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label w-1/6"
                        for="name">{{'options.default.verbose'|get_message_openMRS:request.session.locale}}</label>
                    <input class="checkbox-input" type="checkbox" value="" />
                </div>

            </div>
            <div class="enroll_form_bg">
                <h3 class="font-bold text-2xl">{{'options.login.legend'|get_message_openMRS:request.session.locale}}
                </h3>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="country">{{'options.login.username'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="username"
                        value="{{request.session.logged_user.display}}" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'PersonName.givenName'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="givenName"
                        value="{{person.preferredName.givenName}}" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'PersonName.middleName'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" value="{{person.preferredName.middleName}}" type="text"
                        name="middleName" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'PersonName.familyName'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="familyName"
                        value="{{person.preferredName.familyName}}" />

                </div>
                <br>
                <div class=" profile-input-container">
                    <label class="profile-input-label"
                        for="country">{{'options.login.password.old'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.password.new'|get_message_openMRS:request.session.locale}}</label>
                    <input
                        title="{{'options.login.password.minCharacterCount'|get_message_openMRS:request.session.locale}},{{'options.login.password.containUpperCase'|get_message_openMRS:request.session.locale}} and {{'options.login.password.containNumber'|get_message_openMRS:request.session.locale}}"
                        class="input form-control" type="text" name="address" />


                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.password.confirm'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address" />

                </div>
                <br>
                <h4 class="font-bold text-lg">
                    {{'options.login.secretQuestion.about'|get_message_openMRS:request.session.locale}}</h4>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.password.old'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address" />

                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.secretQuestionNew'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address" />
                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.secretAnswerNew'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address2" />
                </div>
                <div class="profile-input-container">
                    <label class="profile-input-label"
                        for="name">{{'options.login.secretAnswerConfirm'|get_message_openMRS:request.session.locale}}</label>
                    <input class="input form-control" type="text" name="address" />
                </div>
            </div>
            <div class="flex-center">
                <input type="submit" class="button-primary w-1/5"
                    value="{{'general.save'|get_message_openMRS:request.session.locale}}" />

                <a href="javascript:history.go(-1)" class="cancel-button">
                    {{'general.cancel'|get_message_openMRS:request.session.locale}} </a>
            </div>
        </div>
    </form>
</div>
<script>
    let defaultLocation = "{{default_location | escapejs}}"
    if (defaultLocation) {
        $('#defaultLocationTrue').prop('hidden', false);
        $('#defaultLocationFalse').prop('hidden', true);
        $('#edit_cancel').prop('hidden', true);
    }

    $('#editLocations').click(function () {
        $('#defaultLocationTrue').prop('hidden', true);
        $('#defaultLocationFalse').prop('hidden', false);
        $('#edit_cancel').prop('hidden', false);
    })
    $('#edit_cancel').click(function () {
        $('#defaultLocationTrue').prop('hidden', false);
        $('#defaultLocationFalse').prop('hidden', true);
        $('#edit_cancel').prop('hidden', true);
    })
</script>
{% endblock %}