@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Nunito Sans', sans-serif;
}

@layer components{
    /* Global Styles */
    .button-primary{
        @apply bg-[#2D9CDB] text-white rounded-md p-2;
    }

    .primary-heading{
        @apply text-[#2D9CDB] text-3xl font-bold;
    }
    .cancel-button{
        @apply p-2 font-bold underline text-[#044062];
    }

    .flex-column-center{
        @apply flex flex-col justify-center;
    }

    .flex-center{
        @apply flex items-center;
    }
    .table-header{
        @apply border-r-2 border-black font-bold;
    }

    .table-item{
        @apply border-2 border-black bg-[#9DC6DE];
    }
    .tw-dropdown-header{
        @apply dropdown-toggle
        px-6
        after:hidden
        py-2.5
        text-black
        font-medium
        leading-tight
        transition
        duration-150
        ease-in-out
        flex
        items-center
        whitespace-nowrap;
    }
    .tw-dropdown-item-list{
        @apply 
        min-w-max
        absolute
        bg-white
        text-base
        z-50
        float-left
        py-2
        list-none
        text-left
        rounded-lg
        shadow-lg
        mt-1
        hidden
        m-0
        bg-clip-padding
        border-none;
    }
    .tw-dropdown-item{
        @apply dropdown-item
        text-sm
        py-2
        px-4
        font-normal
        block
        w-full
        whitespace-nowrap
        bg-transparent
        text-gray-700
        hover:bg-gray-100;
    }
    .input-container{
            @apply  flex items-center w-full space-x-4;
    }
    .input{
            @apply border rounded-md shadow-sm border-gray-200 outline-none focus:ring-0 w-11/12;
    }
    .input-label{
            @apply text-[#9E9E9E] font-bold w-1/12;
    }
    .page-title{
        @apply text-[#2D9CDB] text-3xl font-bold;
    }
    /* End GlobalStyles */
    
    /* Base page */
    .base-header{
        @apply p-4	flex-center justify-between;
    }
    .openmrs-logo{
        @apply w-36 object-contain;
    }
    .navbar{
        @apply flex-center space-x-6;
    }
    .nav-item{
        @apply text-[#2D9CDB] font-bold;
    }
    .dropdown-section{
        @apply flex-center justify-center mt-8;
    }
    .dropdown-container{
        @apply flex-center space-x-8;
    }

    /* Base page End */
    




    /* Search Page Styles */
    .search-page-container{
        @apply flex-column-center m-36 flex-grow
    }
    .search-input-container{
        @apply flex-column-center items-center;
    }


    .search-box{
        @apply rounded-tr-md rounded-tl-md cursor-pointer shadow-sm w-4/5 bg-gray-200 flex items-center justify-between px-2;
    }


     .search-page-input{
        @apply border-none focus:ring-0 bg-transparent flex-1;
    }

    .search-result-container{
        @apply rounded-br-md rounded-bl-md hidden p-4 m-2 cursor-pointer shadow-sm w-4/5 bg-gray-200 flex-col max-h-52  overflow-scroll;
    }
    .search-results-box{
        @apply grid grid-cols-1;
    }

    .search-result-items{
        @apply grid grid-cols-5 border-b border-black p-1 gap-4;
    }

    .patient-create-new-box{
        @apply flex-center space-x-4 mt-6;
    }
    .loader-box{
        @apply flex-center justify-center;
    }
    .patient-notfound-box{
        @apply flex-center text-center justify-center;
    }

    /* End Search Page Styles */


    /* Enroll Page Styles */
    .enroll-form{
        @apply flex-column-center;
    }
    .enroll_form_bg{
        @apply bg-[#9e9e9e28] shadow-md p-4 flex-column-center space-y-4;
    }
    .enrollform-sections-container{
        @apply m-16 flex-column-center space-y-8;
    }

    .enrollform-section{
        @apply flex-center space-x-4;
    }
    .radios-container{
        @apply flex-center space-x-4;
    }

    .radio-container{
        @apply flex-center space-x-2;
    }
     /* End Enroll Page Styles */

    /* Login Page */
    .login-page-container{
        @apply flex flex-col items-center justify-center mt-24 space-y-6;
    }

    .openmrs-login-logo{
        @apply w-80 object-contain;
    }

    .login-form-container{
        @apply flex flex-col items-center justify-center space-y-4;
    }

   

    .login-form{
        @apply w-full space-y-4 items-center flex flex-col;
    }

    .loginform-input-container{
        @apply flex-column-center w-full;
    }

    .tb03-form-label{
        @apply font-bold text-[#9e9e9e];
    }


    /* End Login Page Styles */


    /* Enrolled Programs page */

    .enrolled-programs-page{
        @apply flex flex-col m-2;
    }
    .patient-banner-container{
        @apply bg-[#9DC6DE] flex items-center justify-between p-4  text-xl;
    }
    .patient-info-container{
        @apply flex-center space-x-6;
    }
    .patient-id-container{
        @apply space-x-2 font-bold;
    }

    .program-container{
        @apply bg-[#9e9e9e28] shadow-md p-4 flex flex-col justify-center space-y-4 m-4;
    }
    .program-name{
        @apply flex-center space-x-4;
    }
    .program-info{
        @apply ml-4 grid grid-cols-2 gap-3;
    }
    .programs-form-label{
        @apply font-bold text-[#9e9e9e];
    }


    /* manage testtypes page Styles */
    .accordian-btn{
        @apply accordion-button relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none;
    }
    /* end manage testtypes page Styles */


    

      
    /* Commonlab global styles */
      .commonlab-actions {
        @apply opacity-0 transition-opacity group-hover:opacity-100 flex flex-col justify-center absolute origin-top top-5 bg-gray-300 shadow-lg p-3 h-fit -left-14  ease-in-out duration-500;
      }
      .commonlab-actions-parent{
          @apply flex items-center space-x-2 cursor-pointer  relative;
        }
    /* End Commonlab global styles */
        

    .aeModalitems{
        @apply flex-center border-b space-x-4  w-full border-gray-500;
    }

    .tw-accordian-btn{
        @apply relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
    }


}