{% load static %}

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ошибка авторизации!</h4>
        <p>
        Мы с сожалением сообщаем вам, что у вас нет прав на выполнение следующей операции. Пожалуйста, свяжитесь с администратором для получения помощи.
        </p>
        <h4 class="alert-heading">Хатогии авторизатсия!</h4>
        <p>
        Моъминем, шумо муваффақият аст, ки шумо барои амалиёти зерин иҷозатнома доред. Лутфан, бо муносибат ба мудир тамос гирофтед.
        </p>
        <h4 class="alert-heading">Authorization Error!</h4>
        <p>
        We regret to inform you that you are not authorized for the following operation. Please contact the administrator for assistance.
        </p>
    </div>
</div>
