{% load static %}

{% if request.session.session_id %}
<div class="flex  justify-center  rounded-lg w-fit items-center mx-auto p-2 ">
  <div>
    <div class="relative" data-te-dropdown-ref>
      <button
        class="flex items-center space-x-4 rounded px-6 pt-2.5 pb-2 text-sm  transition duration-150 ease-in-out font-bold"
        type="button" id="dropdownGeneral" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        {{'mdrtb.general'|get_message:request.session.locale}}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="ml-2 w-3 h-3 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>

      </button>
      <ul class="tw-dropdown-item-list" aria-labelledby="dropdownGeneral" data-te-dropdown-menu-ref>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">
            {{'mdrtb.mergePatients'|get_message:request.session.locale}}
          </a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item"
            href="{% url 'patientlist' %}">{{'mdrtb.patientLists'|get_message:request.session.locale}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="relative" data-te-dropdown-ref>
      <button
        class="flex items-center space-x-4 rounded px-6 pt-2.5 pb-2 text-sm font-bold transition duration-150 ease-in-out"
        type="button" id="dropdownDotsReports" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        {{'mdrtb.dotsreports'|get_message:request.session.locale}}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="ml-2 w-3 h-3 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <ul class="tw-dropdown-item-list" aria-labelledby="dropdownDotsReports" data-te-dropdown-menu-ref>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item" href="#">{{'mdrtb.viewClosedReports'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item" href="#">{{'mdrtb.dotsreport07'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item"
            href="{% url 'tb08export' %}">{{'mdrtb.dotsreport08'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item"
            href="{% url 'tb03export' %}">{{'mdrtb.tb03Export'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item" href="#">{{'mdrtb.tb03ExportSingleLine'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="{% url 'form89export' %}">
            {{'mdrtb.f89ExportSingleLine'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item" href="#">{{'mdrtb.dotsdq.title'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>

          <a class="tw-dropdown-item" href="#">{{'mdrtb.dq.missingtb03'|get_message:request.session.locale}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="relative" data-te-dropdown-ref>
      <button
        class="flex items-center space-x-4 rounded px-6 pt-2.5 pb-2 text-sm font-bold transition duration-150 ease-in-out"
        type="button" id="dropdownMdrReports" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        {{'mdrtb.mdrreports'|get_message:request.session.locale}}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="ml-2 w-3 h-3 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <ul class="tw-dropdown-item-list" aria-labelledby="dropdownMdrReports" data-te-dropdown-menu-ref>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.viewClosedReports'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item"
            href="{% url 'tb07uexport' %}">{{'mdrtb.tb07u'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item"
            href="{% url 'tb08uexport' %}">{{'mdrtb.tb08Fast'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item"
            href="{% url 'tb03uexport' %}">{{'mdrtb.tb03uExport'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.tb03uExportSingleLine'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.dq.title'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.sldreport'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.dq.missingtb03u'|get_message:request.session.locale}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="relative" data-te-dropdown-ref>
      <button
        class="flex items-center space-x-4 rounded px-6 pt-2.5 pb-2 text-sm font-bold transition duration-150 ease-in-out"
        type="button" id="dropdownOtherReports" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        {{'mdrtb.otherreports'|get_message:request.session.locale}}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="ml-2 w-3 h-3 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <ul class="tw-dropdown-item-list" aria-labelledby="dropdownOtherReports" data-te-dropdown-menu-ref>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.form8.title'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.pv.qtrReportTitle'|get_message:request.session.locale}}</a>
        </li>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="#">{{'mdrtb.pv.register.title'|get_message:request.session.locale}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="relative" data-te-dropdown-ref>
      <button
        class="flex items-center space-x-4 rounded px-6 pt-2.5 pb-2 text-sm font-bold transition duration-150 ease-in-out"
        type="button" id="dropdownCommonLab" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        Common Lab
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="ml-2 w-3 h-3 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <ul class="tw-dropdown-item-list" aria-labelledby="dropdownCommonLab" data-te-dropdown-menu-ref>
        <li data-te-dropdown-item-ref>
          <a class="tw-dropdown-item" href="{% url 'managetesttypes' %}">Manage Test Types</a>
        </li>

      </ul>
    </div>
  </div>
</div>
{% endif %}