{% load static %}

{% if request.session.session_id %}
<nav class="app-menubar">
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button"
      id="dropdownGeneral" data-bs-toggle="dropdown" aria-expanded="false">
      {{'mdrtb.general'|get_message:locale|default:"en"}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownGeneral">
      <li>
        <a class="dropdown-item"
          href="{% url 'patientlist' %}">{{'mdrtb.patientLists'|get_message:locale|default:"en"}}</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button"
      id="dropdownDotsReports" data-bs-toggle="dropdown" aria-expanded="false">
      {{'mdrtb.dotsreports'|get_message:locale|default:"en"}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownDotsReports">
      <li>
        <a class="dropdown-item"
          href="{% url 'closedreports' type='dots' %}">{{'mdrtb.viewClosedReports'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb07results' %}">{{'mdrtb.dotsreport07'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb08results' %}">{{'mdrtb.dotsreport08'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb03results' %}">{{'mdrtb.tb03Export'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb03singleresults' %}">{{'mdrtb.tb03ExportSingleLine'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'reportform' target='form89results' %}">
          {{'mdrtb.f89ExportSingleLine'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='dotsdqresults' %}">{{'mdrtb.dotsdq.title'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='missingtb03results' %}">{{'mdrtb.dq.missingtb03'|get_message:locale|default:"en"}}</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button"
      id="dropdownMdrReports" data-bs-toggle="dropdown" aria-expanded="false">
      {{'mdrtb.mdrreports'|get_message:locale|default:"en"}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMdrReports">
      <li>
        <a class="dropdown-item"
          href="{% url 'closedreports' type='mdr' %}">{{'mdrtb.viewClosedReports'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb07uresults' %}">{{'mdrtb.tb07u'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb08uresults' %}">{{'mdrtb.tb08Fast'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb03uresults' %}">{{'mdrtb.tb03uExport'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='tb03usingleresults' %}">{{'mdrtb.tb03uExportSingleLine'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='mdrdqresults' %}">{{'mdrtb.dq.title'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">{{'mdrtb.sldreport'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='missingtb03uresults' %}">{{'mdrtb.dq.missingtb03u'|get_message:locale|default:"en"}}</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button"
      id="dropdownOtherReports" data-bs-toggle="dropdown" aria-expanded="false">
      {{'mdrtb.otherreports'|get_message:locale|default:"en"}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownOtherReports">
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='form8results' %}">{{'mdrtb.form8.title'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='adverseeventsregister' %}">{{'mdrtb.pv.register.title'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'reportform' target='quarterlyae' %}">{{'mdrtb.pv.qtrReportTitle'|get_message:locale|default:"en"}}</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button"
      id="dropdownAdministration" data-bs-toggle="dropdown" aria-expanded="false">
      {{'Navigation.administration'|get_message_openMRS:locale|default:"en"}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownAdministration">
      <!-- Remaining items are disabled until implemented: remove the "disabled" class,
           aria-disabled and tabindex to enable. Stub routes/views/templates already exist. -->
      <li>
        <a class="dropdown-item"
          href="{% url 'manageLocations' %}">{{'Location.manage'|get_message_openMRS:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item"
          href="{% url 'manageUsers' %}">{{'User.manage'|get_message_openMRS:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item disabled" aria-disabled="true" tabindex="-1"
          href="{% url 'manageTranslations' %}">{{'mdrtb.manageTranslations'|get_message:locale|default:"en"}}</a>
      </li>
      <li>
        <a class="dropdown-item disabled" aria-disabled="true" tabindex="-1"
          href="{% url 'setDefaults' %}">{{'mdrtb.setDefaults'|get_message:locale|default:"en"}}</a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}
