{% extends 'tbregister/base.html' %} {%block content%}




<div class="flex flex-col  justify-center m-36 flex-grow">
    <div class="flex flex-col justify-center items-center">
        <div
        class="rounded-md cursor-pointer shadow-sm w-3/5 bg-gray-200 flex items-center justify-between px-2"
      >
        <input
          class="border-none focus:ring-0 bg-transparent"
          type="text"
          placeholder="Search for Patients"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </div>
      <div class="flex items-center space-x-4 mt-6">
          <p>Can't find the partient ? </p>
          <a href="{% url 'Enroll3' %}"><button class="bg-[#2D9CDB] text-white rounded-md p-2">Create One</button></a>
        </div>
    </div>
</div>





{% endblock %}
