{% extends 'tbregister/base_without_dd.html' %} {% block content %}

<div class="m-16">
  <div class="flex flex-col">
    <h2 class="text-4xl font-bold leading-tight text-[#2d9cdb]">
      Add Test Type
    </h2>
    <div>
      <form
        method="post"
        action="{% url 'addtesttypes' %}"
        class="flex flex-col shadow-lg p-4"
      >
        {% csrf_token %}
        <div class="flex justify-start items-start py-4 space-x-12">
          <div class="space-y-3 w-3/4">
            <div class="input-container">
              <label class="w-full text-[#9E9E9E]" for="gender"
                >Reference concept</label
              >

              <select class="input" name="referenceconcept" required>
                {% for concept in referenceConepts %}
                <option value="{{concept}}">{{concept}}</option>

                {% endfor %}
              </select>
            </div>

            <div class="input-container">
              <label class="w-full text-[#9E9E9E]" for="testname"
                >Test name</label
              >

              <input required class="input" type="text" name="testname" />
            </div>

            <div class="input-container group">
              <label class="w-full text-[#9E9E9E]" for="shortname"
                >Short name</label
              >

              <input class="input" type="text" name="shortname" />
            </div>
          </div>
          <div class="space-y-3 w-2/4">
            <div class="input-container">
              <label class="w-full text-[#9E9E9E]" for="testgroup"
                >Test group</label
              >

              <select class="input" name="testgroup">
                {% for item in testGroups %}
                <option value="{{item}}">{{item}}</option>

                {% endfor %}
              </select>
            </div>
            <div class="input-container p-2">
              <label class="w-full text-[#9E9E9E]" for="specimen"
                >Requires specimen</label
              >
              <div class="flex items-center justify-around space-x-6">
                <div class="flex items-center space-x-4">
                  <label for="requirespecimen">Yes</label>
                  <input name="requirespecimen" type="radio" value="Yes" />
                </div>
                <div class="flex items-center space-x-4">
                  <label for="requirespecimen">No</label>
                  <input name="requirespecimen" type="radio" value="No" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="bg-[#2D9CDB] text-white rounded-md p-2 w-1/5">
          Enroll
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
