{% extends 'app/base/report_base.html' %}

{% block content %}

<div>
    <style>
        td {
            width: fit-content;
        }
        th {
            width: fit-content;
        }
        table {
            width: fit-content;
        }
    </style>
    <div id="ae" style="font-size:smaller; width:980px;">
        <table border="0" width="100%">
            <tbody>
                <tr>
                    <td align="center" style="font-size:14px; font-weight:bold;border:0px" width="100%">
                        {{"mdrtb.pv.register.title"|get_message:request.session.locale}}</td>
                    <!-- <td align="right" style="font-size:14px; font-weight:bold;border:0px" valign="top" width="10%">AE</td> -->
                </tr>
            </tbody>
        </table>
        &nbsp;
        <table width="100%" border="1">
            <tr>
                <td>
                    {{"mdrtb.tb07u.nameOfFacility"|get_message:request.session.locale}}: <u>
                        {{ location.facility.name}}</u><br />
                    {{"mdrtb.tb07u.regionCityDistrict"|get_message:request.session.locale}}: <u>
                        {{ location.region.name}}/{{ location.district.name }}
                    </u><br />
                    {{"mdrtb.tb07u.tbCoordinatorName"|get_message:request.session.locale}}: ___________________ </br>
                    {{"mdrtb.tb07u.signature"|get_message:request.session.locale}}: _________________
                </td>

                <td>
                    {{"mdrtb.pv.quarter"|get_message:request.session.locale}},{{"mdrtb.pv.year"|get_message:request.session.locale}}:
                    <u>{{ request.GET.quarter }}, {{ request.GET.year }}</u></br>
                    {{"mdrtb.pv.reportDate"|get_message:request.session.locale}}:<u>&nbsp; {{ report_date|get_report_date }}</u>
                </td>
            </tr>


        </table>


        <table border="1" cellpadding="1" cellspacing="1" dir="ltr" style="width: 980px;">
            <tbody>
                <tr>
                    <th rowspan="2">

                        {{"mdrtb.pv.register.serialNumber"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">{{"mdrtb.pv.register.patientId"|get_message:request.session.locale}}</th>
                    <th rowspan="2">{{"mdrtb.pv.register.patientName"|get_message:request.session.locale}}</th>
                    <th rowspan="2">

                        {{"mdrtb.pv.register.patientBirthdate"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">{{"mdrtb.pv.register.onsetDate"|get_message:request.session.locale}}</th>
                    <th rowspan="2">{{"mdrtb.pv.register.adverseEvent"|get_message:request.session.locale}}</th>
                    <th rowspan="2">
                        {{"mdrtb.pv.register.diagnosticInvestigation"|get_message:request.session.locale}}
                    </th>
                    <th colspan="2">{{"mdrtb.pv.register.typeOfEvent"|get_message:request.session.locale}}</th>

                    <th rowspan="2">
                        {{"mdrtb.pv.register.requiringAncillary"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">
                        {{"mdrtb.pv.register.requiringChanges"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">{{"mdrtb.pv.register.suspectedDrug"|get_message:request.session.locale}}</th>
                    <th rowspan="2">
                        {{"mdrtb.pv.register.suspectedDrugTxStartDate"|get_message:request.session.locale}}
                    </th>

                    <th rowspan="2">{{"mdrtb.pv.register.actionTaken"|get_message:request.session.locale}}</th>
                    <th rowspan="2">

                        {{"mdrtb.pv.register.actionOutcome"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">

                        {{"mdrtb.pv.register.treatmentRegimenAtOnset"|get_message:request.session.locale}}
                    </th>

                    <th rowspan="2">{{"mdrtb.pv.register.drugRechallenge"|get_message:request.session.locale}}</th>
                    <th rowspan="2">{{"mdrtb.pv.register.causalityAssessment"|get_message:request.session.locale}}</th>
                    <th rowspan="2">
                        {{"mdrtb.pv.register.yellowCardDate"|get_message:request.session.locale}}
                    </th>
                    <th rowspan="2">{{"mdrtb.pv.register.comments"|get_message:request.session.locale}}</th>
                </tr>
                <tr>
                    <th>{{"mdrtb.pv.register.serious"|get_message:request.session.locale}}</th>
                    <th>{{"mdrtb.pv.register.ofSpecialInterest"|get_message:request.session.locale}}</th>
                </tr>

                <tr>
                    <td align="center">1</td>
                    <td align="center">2</td>
                    <td align="center">3</td>
                    <td align="center">4</td>
                    <td align="center">5</td>
                    <td align="center">6</td>
                    <td align="center">7</td>
                    <td align="center">8a</td>
                    <td align="center">8b</td>
                    <td align="center">9</td>
                    <td align="center">10</td>
                    <td align="center">11</td>
                    <td align="center">12</td>
                    <td align="center">13</td>
                    <td align="center">14</td>
                    <td align="center">15</td>
                    <td align="center">16</td>
                    <td align="center">17</td>
                    <td align="center">18</td>
                    <td align="center">19</td>

                </tr>

                {% for form in forms %}
                <tr>
                    <td><a href="{% url 'editadverseevents' patientid=form.patientUuid formid=form.adverseEventsForm.encounter.uuid %}"
                            target="_blank">{{forloop.counter}}</a></td>
                    <td align="left">{{ form.patientIdentifier }}</td>
                    <td align="left">{{ form.patientName }}</td>
                    <td align="center">{{ form.birthdate }}</td>
                    <td align="center">{{ form.onsetDate }}</td>
                    <td align="left">{{ form.aeDescription }}</td>
                    <td align="left">{{ form.diagnosticInvestigation }}</td>
                    <td align="center">{{ form.serious }}</td>
                    <td align="center">{{ form.ofSpecialInterest }}</td>
                    <td align="center">{{ form.ancillaryDrugs }}</td>
                    <td align="center">{{ form.doseChanged }}</td>
                    <td align="center">{{ form.suspectedDrug }}</td>
                    <td>&nbsp;</td>
                    <td align="left">{{ form.actionTaken }}</td>
                    <td align="left">{{ form.actionOutcome }}</td>
                    <td align="left">{{ form.txRegimen }}</td>
                    <td align="left">{{ form.drugRechallenge }}</td>
                    <td align="left">{{ form.adverseEventsForm.casualityAssessmentResult.display }}</td>
                    <td align="center">{{ form.yellowCardDate }}</td>
                    <td align=left">{{ form.comments }}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>
    <input id="exportButton" type="button" onclick="tableToExcel('ae', 'AE')"
           value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />
    <input id="printButton" type="button" onclick="printForm()"
           value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    <button id="saveButton" onclick="saveHtml('ae', 'AE', 'DOTSTB')">{{'mdrtb.save'|get_message:request.session.locale}}</button>
    <a href="/" type="button" id="back" name="back">{{'mdrtb.back'|get_message:request.session.locale}}</a>
    <script>
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("saveButton").disabled = true;
        } else {
            document.getElementById("saveButton").disabled = false;
        }
    </script>

</div>
{% endblock %}