{% extends 'app/base/base.html' %}


{% block title %}
{{title}}
{% endblock %}


{%block content%}

{% if report_data %}
<style>
    .btn-primary {
        background: #2D9CDB !important;
    }
</style>

<div class="m-12 rounded">
    <table class="table table-bordered">
        <thead class=" table-dark">
            <th>Report Name</th>
            <th>Report Date</th>
            <th>Region</th>
            <th>District</th>
            <th>Facility</th>
            <th>Year</th>
            <th>Month</th>
            <th>Quarter</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            {% for report in report_data %}

            <tr>
                <td>{{report.reportName}}</td>
                <td>{{report.reportDate}}</td>
                <!-- If the selected location is region -->
                {% if report.location.parent is None and report.location.grandparent is None %}
                <td>{{report.location.location}}</td>
                <td>-</td>
                <td>-</td>
                {% endif %}
                <!-- If the selected location is district -->
                {% if report.location.parent and report.location.grandparent is None %}
                <td>{{report.location.parent}}</td>
                <td>{{report.location.location}}</td>
                <td>-</td>
                {% endif %}
                <!-- If the selected location is facility -->
                {% if report.location.parent and report.location.grandparent %}
                <td>{{report.location.grandparent}}</td>
                <td>{{report.location.parent}}</td>
                <td>{{report.location.location}}</td>
                {% endif %}
                <td>{{report.year}}</td>
                {% if report.month is None %}
                <td>-</td>
                {% else %}
                <td>{{report.month}}</td>
                {% endif %}
                {% if report.quarter is None %}
                <td>-</td>
                {% else %}
                <td>{{report.quarter}}</td>
                {% endif %}
                <td><strong>{{report.reportStatus}}</strong></td>
                <td colspan="2" class="flex items-center space-x-4">
                    <a class="no-underline outline-none " target="_blank"
                        href="{% url 'viewclosedreport' uuid=report.uuid %}">
                        <button class="btn btn-primary border-0 d-flex align-items-center">
                            <span class="ml-2">View</span>
                        </button>
                    </a>
                    {% if report.reportStatus != "LOCKED" %}
                    <a href="#" class="no-underline outline-none">
                        <button class="btn btn-secondary d-flex align-items-center border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            <span class="ml-2">Lock</span>
                        </button>
                    </a>
                    {% else %}
                    {% if unlock_privilege %}
                    <a class="no-underline outline-none" href="#">
                        <button class="btn btn-secondary border-0 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            <span class="ml-2">Unlock</span>
                        </button>
                    </a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <button class="button-primary w-1/6"><a href="javascript:history.go(-1)"
            class="no-underline text-white">Back</a></button>
</div>
<script>
    console.log(JSON.parse("{{jsondata|escapejs}}"))
</script>
{% else %}

<div class="mx-auto w-2/4">
    <form onsubmit="disableSubmit()" action="{% url 'closedreports' type=type %}" method="post"
        class="flex flex-col space-y-6">
        {% csrf_token %}
        <h2 class="page-title">{{"mdrtb.viewClosedReports"|get_message:request.session.locale}}</h2>
        <div>
            {% include 'app/components/locations.html' %}
        </div>
        <div class="input-container">
            <label class="input-label w-1/6"
                for="report">{{"mdrtb.viewClosedReports.reportName"|get_message:request.session.locale}}</label>
            <select name="report" id="report" class="input form-control">
                <option value="">Select</option>
                {% for report in reports %}
                <option value="{{report.value}}">{{report.report_name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-container">
            <label class="input-label w-1/6" for="year">{{"mdrtb.year"|get_message:request.session.locale}}</label>
            <input required type="text" class="input form-control" name="year" size="4" id="year">
        </div>
        <div class="input-container">
            <label class="input-label w-1/6" for="month">{{"mdrtb.month"|get_message:request.session.locale}}</label>
            <select name="month" id="month" class="input form-control">
                <option value="">Select</option>
                {% for month in months %}
                <option value="{{month.value}}">{{month.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-container">
            <label class="input-label w-1/6"
                for="quarter">{{"mdrtb.quarter"|get_message:request.session.locale}}</label>

            <div class="flex items-center w-full space-x-4">
                <div class="space-x-2 flex items-center">
                    <label for="quarter">Select</label>
                    <input checked type="radio" name="quarter" id="quarter" class="radio-input" value="">
                </div>
                {% for quarter in quarters %}
                <div class="space-x-2 flex items-center">
                    <label for="quarter">{{quarter}}</label>
                    <input type="radio" name="quarter" id="quarter_{{quarter}}" class="radio-input" value="{{quarter}}">
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="flex-center space-x-4 mt-4">
            <button type="submit" id="submitBtn"
                class="button-primary w-1/5">{{'general.submit'|get_message_openMRS:request.session.locale}}</button>

            <a href="javascript:history.go(-1)" class="cancel-button">
                {{'general.cancel'|get_message_openMRS:request.session.locale}}
            </a>
        </div>

    </form>
</div>
<script type="text/javascript">
    $('#region-select').prop('required', true)

    $("#subregion-select").change((e) => {
        if (e.target.value != null && e.target.value !== "") {
            setTimeout(() => {
                $('#district-select').prop('required', true);
            }, 500)
        } else {
            $('#district-select').prop('required', false);
        }
    });

    $('#month').change((e) => {
        if (e.target.value != '') {
            $('#quarter').prop('disabled', true)
            $('#quarter').prop('title', 'Quarter cannot be selected with month')
        } else {
            $('#quarter').prop('disabled', false)
            $('#quarter').prop('title', '')
        }
    })
    $("input[name='quarter']").change((e) => {
        if (e.target.value != '') {
            $('#month').prop('disabled', true)
            $('#month').prop('title', 'Month cannot be selected with quarter')
        } else {
            $('#month').prop('disabled', false)
            $('#month').prop('title', '')
        }
    })
    const disableSubmit = () => {
        $('#submitBtn').prop('disabled', true)
        $('#submitBtn').removeClass('button-primary')
        $('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
            colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
        </lord-icon>`)
    }

</script>
{% endif %}

{% endblock %}