{% extends 'app/reporting/report_base.html' %}

{% block content %}


<div>
    <div id="f89">
        {% if locale == 'tj' %}
        <style>
            html * {
                font-family: Times New Roman Tj !important;
            }
        </style>
        {% endif %}
        <table border="1" cellspacing="0">
            <tr>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.tb03RegistrationNumber"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.form89.form89Date"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.name"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.gender"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.ageAtRegistration"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.dateOfBirth"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.oblast"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.district"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.facility"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.address"|get_message:request.session.locale}}</th>

                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.pregnant"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.locationType"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.form89.profession"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2" rowspan="2">
                    {{"mdrtb.form89.populationCategory"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.countryOfOrigin"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.placeOfDetection"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">
                    {{"mdrtb.form89.dateFirstSeekingHelp"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">
                    {{"mdrtb.form89.circumstancesOfDetection"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.cityOfOrigin"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.dateOfReturn"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.methodOfDetection"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">
                    {{"mdrtb.form89.otherMethodOfDetection"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.siteOfDisease"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.epSite"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.epLocation"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.pSite"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.presenceOfDecay"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.dateOfDecaySurvey"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.complication"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="4">{{"mdrtb.smear"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="4">{{"mdrtb.tb03.genexpert"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="6">{{"mdrtb.hain"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="6">{{"mdrtb.hain2"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="10">
                    {{"mdrtb.form89.comorbidities"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.cmacDate"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.cmacNumber"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.prescribedTreatment"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.placeOfCommission"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.form89.nameOfDoctor"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">&nbsp;</th>

            </tr>
            <tr>
                <th class="normal" rowspan="1">{{"mdrtb.result"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>

                <th class="normal" rowspan="1">{{"mdrtb.tb03.xpertResult"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>

                <th class="normal" rowspan="1">{{"mdrtb.tb03.hainCultureResult"|get_message:request.session.locale}}
                </th>
                <th rowspan="1">{{"mdrtb.tb03.hResult"|get_message:request.session.locale}}</th>
                <th rowspan="1">{{"mdrtb.tb03.rResult"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>

                <th class="normal" rowspan="1">{{"mdrtb.tb03.hainCultureResult"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.iResult"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.fResult"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>

                <th class="normal" rowspan="1">{{"mdrtb.form89.diabetes"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.cnsdl"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.htHeartDisease"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.ulcer"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.mentalDisorder"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.ibc20"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.cancer"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.hepatitis"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.kidneyDisease"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.form89.otherDisease"|get_message:request.session.locale}}</th>

            </tr>




            {% for row in patientSet %}
            <tr {% if forloop.counter|divisibleby:2 %} bgcolor="#D3D3D3" {% endif %}>
                <td>
                    <div><span>{{ row.identifier }}</span></div>
                </td>
                <td>{{ row.tb03RegistrationDate }}</td>
                <td>{{ row.patient.personName.familyName }}, {{ row.patient.personName.givenName }}</td>
                <td align="center">{{ row.gender }}</td>
                <td align="center">{{row.ageAtTB03Registration }}</td>
                <td>{{ row.dateOfBirth }}</td>
                <td>{{ row.patient.personAddress.stateProvince }}</td>
                <td>{{ row.patient.personAddress.countyDistrict }}</td>
                <td>{{ row.patient.personAddress.region }}</td>
                <td>{{ row.patient.personAddress.address1 }}</td>
                <td>{{ row.form89.pregnant.displayString }}</td>
                <td>{{ row.form89.locationType.displayString }}</td>
                <td>{{ row.form89.profession.displayString }}</td>
                <td>{{ row.form89.populationCategory.displayString }}</td>
                <td>{{ row.form89.countryOfOrigin }}</td>
                <td>{{ row.form89.placeOfDetection.displayString }}</td>
                <td>{{ row.dateFirstSeekingHelp }}</td>
                <td>{{ row.form89.circumstancesOfDetection.displayString }}</td>
                <td>{{ row.form89.cityOfOrigin }}</td>
                <td>{{ row.dateOfReturn }}</td>
                <td>{{ row.form89.methodOfDetection.displayString }}</td>
                <td>{{ row.form89.otherMethodOfDetection }}</td>
                <td>{{ row.form89.anatomicalSite.displayString }}</td>
                <td>{{ row.form89.epSite.displayString }}</td>
                <td>{{ row.form89.epLocation.displayString }}</td>
                <td>{{ row.form89.pulSite.displayString }}</td>
                <td>{{ row.form89.presenceOfDecay.displayString }}</td>
                <td>{{ row.dateOfDecaySurvey }}</td>
                <td>{{ row.form89.complication }}</td>


                <td align="center">{{row.diagnosticSmearResult }}</td>
                <td>{{row.diagnosticSmearDate }}</td>
                <td>{{row.diagnosticSmearLab }}</td>
                <td>{{row.diagnosticSmearTestNumber }}</td>

                <td align="center">{{row.xpertMTBResult }} {{row.xpertRIFResult }} </td>
                <td>{{row.xpertTestDate }}</td>
                <td>{{row.xpertLab }}</td>
                <td>{{row.xpertTestNumber }}</td>

                <td align="center">{{row.hainMTBResult }}</td>
                <td align="center">{{row.hainINHResult }}</td>
                <td align="center">{{row.hainRIFResult }}</td>
                <td align="center">{{row.hainTestDate }} </td>
                <td>{{row.hainLab }}</td>
                <td>{{row.hainTestNumber }}</td>

                <td align="center">{{row.hain2MTBResult }}</td>
                <td align="center">{{row.hain2InjResult }}</td>
                <td align="center">{{row.hain2FqResult }}</td>
                <td align="center">{{row.hain2TestDate }} </td>
                <td>{{row.hain2Lab }}</td>
                <td>{{row.hain2TestNumber }}</td>

                <td>{{ row.form89.diabetes.displayString }}</td>
                <td>{{ row.form89.cnsdl.displayString }}</td>
                <td>{{ row.form89.htHeartDisease.displayString }}</td>
                <td>{{ row.form89.ulcer.displayString }}</td>
                <td>{{ row.form89.mentalDisorder.displayString }}</td>
                <td>{{ row.form89.ibc20.displayString }}</td>
                <td>{{ row.form89.cancer.displayString }}</td>
                <td>{{ row.form89.hepatitis.displayString }}</td>
                <td>{{ row.form89.kidneyDisease.displayString }}</td>
                <td>{{ row.form89.otherDisease }}</td>
                <td>{{row.cmacDate }} </td>
                <td>{{row.form89.cmacNumber }} </td>
                <td>{{row.form89.prescribedTreatment.displayString }} </td>
                <td>{{row.form89.placeOfCommission.displayString }} </td>
                <td>{{row.form89.nameOfDoctor }} </td>
                <td><a
                        href="{{ pageContext.request.contextPath }}/module/mdrtb/form/form89.form?patientProgramId={{ row.form89.patientProgramId }}&encounterId={{ row.form89.encounter.id }}">{{"mdrtb.view"|get_message:request.session.locale}}</a>
                </td>
            </tr>



            {% endfor %}
        </table>

        {% if locale == 'tj' %}</font>{% endif %}
    </div>
    <input type="button" onclick="tableToExcel('f89', 'Form89')"
        value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />

    <a href="javascript:history.go(-1)" type="button" id="back"
        name="back">{{'mdrtb.back'|get_message:request.session.locale}}</a>
    <input type="button" onclick="printForm()" value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    <script type="text/javascript">
        function printForm() {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            mywindow.document.write('<html><head><title>{{"mdrtb.form89"|get_message:request.session.locale}}</title>');
            mywindow.document.write('</head><body >');
            // mywindow.document.write('<h1>{{"mdrtb.pv.aeForm"|get_message:request.session.locale}}</h1>');
            mywindow.document.write(document.getElementById("f89").innerHTML);

            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>TB03</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
        function savePdf(action, reportName, formPath) {
            var tableData = (document.getElementById("f89")).innerHTML.toString();
            var oblast = "{{ oblast }}";
            var district = "{{ district }}";
            var facility = "{{ facility }}";
            var year = "{{ year }}";
            if (!"{{quarter}}") {
                var quarter = "\"" + "{{quarter}}" + "\"";
            } else {
                var quarter = "";
            }
            if (!"{{month}}") {
                var month = "\"" + "{{month}}" + "\"";
            } else {
                var month = "";
            }
            var reportDate = "{{ reportDate }}";

            var form = document.createElement("FORM");

            form.setAttribute("id", "closeReportForm");
            form.setAttribute("name", "closeReportForm");
            form.setAttribute("method", "post");
            form.setAttribute("action", action);

            document.body.appendChild(form);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "oblast");
            input.setAttribute("name", "oblast");
            input.setAttribute("value", oblast);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "district");
            input.setAttribute("name", "district");
            input.setAttribute("value", district);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "facility");
            input.setAttribute("name", "facility");
            input.setAttribute("value", facility);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "year");
            input.setAttribute("name", "year");
            input.setAttribute("value", year);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "quarter");
            input.setAttribute("name", "quarter");
            input.setAttribute("value", quarter);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "month");
            input.setAttribute("name", "month");
            input.setAttribute("value", month);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportDate");
            input.setAttribute("name", "reportDate");
            input.setAttribute("value", reportDate);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "table");
            input.setAttribute("name", "table");
            input.setAttribute("value", tableData);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "formPath");
            input.setAttribute("name", "formPath");
            input.setAttribute("value", formPath);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportName");
            input.setAttribute("name", "reportName");
            input.setAttribute("value", reportName);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportType");
            input.setAttribute("name", "reportType");
            input.setAttribute("value", "DOTSTB");
            form.appendChild(input);

            form.submit();
        }
        $(document).ready(function () {
            $("#tableToSql").bind("click", function () {
                if (confirm('{{"mdrtb.closeReportMessage"|get_message:request.session.locale}}')) {
                    savePdf("closeReport.form", "form89", "form89results");
                }
            });
            /* $("#tableToPdf").click(function(){
                savePdf("exportReport.form", "TB 03", "tb03Results");
            }); */
        });
    </script>
</div>

{% endblock %}