{% extends 'app/base/report_base.html' %}

{% block content %}

<div>
    <div id="dq">
        <table class="resultsTable">
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.title"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.oblast"|get_message:request.session.locale}}</td>
                    {% if location.region %}
                <td colspan="2">{{ location.region.name }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.district"|get_message:request.session.locale}}</td>
                    {% if location.district %}
                <td colspan="2">{{ location.district.name }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.facility"|get_message:request.session.locale}}</td>
                    {% if location.facility %}
                <td colspan="2">{{ location.facility.name }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.year"|get_message:request.session.locale}}</td>
                <td align="center">{{ request.GET.year }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.quarter"|get_message:request.session.locale}}</td>
                <td align="center">{{ request.GET.quarter }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.month"|get_message:request.session.locale}}</td>
                <td align="center">{{ request.GET.month }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.numberOfPatients"|get_message:request.session.locale}}</td>
                <td align="center">{{ results.num }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.numberWithErrors"|get_message:request.session.locale}}</td>
                <td align="center">{{ results.errorCount }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.errorPercentage"|get_message:request.session.locale}}</td>
                <td align="center">{{ results.errorPercentage }}</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>

            <th class=normal colspan="3">{{"mdrtb.dq.missingAge"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.missingAge %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.missingPatientGroup"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.missingPatientGroup %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.missingDST"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.missingDST %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td>{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.notStartedTreatment"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.notStartedTreatment %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.missingOutcomes"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.missingOutcomes %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.noMDRId"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.noMDRId %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="3">{{"mdrtb.dq.noSite"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in results.noSite %}
            <tr>

                <td><a href="{% url 'enrolledprograms' uuid=row.patientUuid %}" target="_blank">{{row.patientName}}</a>
                </td>
                <td>{{ row.dateOfBirth | string_to_date }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>

            {% endfor %}

        </table>
    </div>
    <input id="exportButton" type="button" onclick="tableToExcel('dq', 'MDRTB Data Quality Report')"
           value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />
    <input id="printButton" type="button" onclick="printForm()"
           value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    <button id="saveButton" onclick="saveHtml('dq', 'MDRTB Data Quality Report', 'MDRTB')">{{'mdrtb.save'|get_message:request.session.locale}}</button>
    <a href="/" type="button" id="back" name="back">{{'mdrtb.back'|get_message:request.session.locale}}</a>
    <script>
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("saveButton").disabled = true;
        } else {
            document.getElementById("saveButton").disabled = false;
        }
    </script>

</div>
{% endblock %}