{% extends 'app/base/report_base.html' %}

{% block content %}

<div>
    <style>
        td {
            width: fit-content;
        }
        th {
            width: fit-content;
        }
        table {
            width: fit-content;
        }
    </style>

    <div id="missingTB03u">
        <table class="resultsTable">
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03u"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.oblast"|get_message:request.session.locale}}</td>
                    {% if location.parent is None %}
                    {% if location.grandparent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.district"|get_message:request.session.locale}}</td>
                    {% if location.parent is not None %}
                    {% if location.grandparent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.facility"|get_message:request.session.locale}}</td>
                    {% if location.parent and location.grandparent %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.year"|get_message:request.session.locale}}</td>
                <td colspan="2" align="right">{{ request.GET.year }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.quarter"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.quarter }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.month"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.month }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.numberOfPatients"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.totalCases }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.numberWithErrors"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorCount }}</td>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.errorPercentage"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorPercentage }}</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03u"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in missingTB03u %}
            <tr>

                <td><a href="/patient/{{row.patientUuid}}/enrolledprograms" target="_blank">{{row.patient.name}}</a>
                </td>
                <td>{{ row.dateOfBirth }}</td>
                <td align="center">{{ row.patient.gender }}</td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <button>
        <a style="text-decoration: none; color: black;" href="/">
            {{'mdrtb.back'|get_message:request.session.locale}}
        </a>
    </button>
    <input id="exportButton" type="button" onclick="tableToExcel('missingTB03u', 'Missing TB03u')"
           value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />
    <input id="printButton" type="button" onclick="printForm()"
           value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    <button id="saveButton" onclick="saveHtml('missingTB03u', 'Missing TB-03u', 'MDRTB')">{{'mdrtb.save'|get_message:request.session.locale}}</button>
    <a href="/" type="button" id="back" name="back">{{'mdrtb.back'|get_message:request.session.locale}}</a>
    <script>
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("saveButton").disabled = true;
        } else {
            document.getElementById("saveButton").disabled = false;
        }
    </script>

</div>
{% endblock %}