{% extends 'app/reporting/report_base.html' %}

{% block content %}




<div>


    <div id="dq">
        <table class="resultsTable">
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03u"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.oblast"|get_message:request.session.locale}}</td>
                    {% if location.parent is None %}
                    {% if location.grandparent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.district"|get_message:request.session.locale}}</td>
                    {% if location.parent is not None %}
                    {% if location.grandparent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.facility"|get_message:request.session.locale}}</td>
                    {% if location.parent and location.grandparent %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.year"|get_message:request.session.locale}}</td>
                <td colspan="2" align="right">{{ request.GET.year }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.quarter"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.quarter }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.month"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.month }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.numberOfPatients"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.totalCases }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.numberWithErrors"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorCount }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.errorPercentage"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorPercentage }}</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03u"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td>{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in missingTB03u %}
            <tr>

                <td><a href="/patient/{{row.patientUuid}}/enrolledprograms" target="_blank">{{row.patient.name}}</a>
                </td>
                <td>{{ row.dateOfBirth }}</td>
                <td align="center">{{ row.patient.gender }}</td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <button>
        <a style="text-decoration: none; color: black;" href="{% url 'missingtb03uexport' %}">
            {{'mdrtb.back'|get_message:request.session.locale}}
        </a>
    </button>
    <button onclick="tableToExcel('dq', 'missingTB03u')">
        {{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}
    </button>
    <button onclick="printForm()">
        {{'mdrtb.print'|get_message:request.session.locale}}
    </button>
    <!-- <input type="button" id="tableToPdf" name="tableToPdf" value="{{"mdrtb.exportToPdfBtn"|get_message:request.session.locale}}" /> -->
    {% if manage_report_closing %}
    <input type="button" id="tableToSql" name="tableToSql"
        value="{{'mdrtb.closeReportBtn'|get_message:request.session.locale}}" />
    <input type="button" onclick="printForm()" value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        function printForm() {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            mywindow.document.write('<html><head><title>{{"mdrtb.dq.missingtb03u"|get_message:request.session.locale}}</title></head><body>');
            mywindow.document.write(document.getElementById("dq").innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // Necessary for IE >= 10
            mywindow.focus(); // Necessary for IE >= 10

            mywindow.print();
            mywindow.close();

            return true;
        }

        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>missingTB03u</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
        function savePdf(action, reportName, formPath) {
            var tableData = (document.getElementById("tb03")).innerHTML.toString();
            var oblast = "{{ oblast }}";
            var district = "{{ district }}";
            var facility = "{{ facility }}";
            var year = "{{ year }}";
            if (!"{{request.GET.quarter}}") {
                var quarter = "\"" + "{{request.GET.quarter}}" + "\"";
            } else {
                var quarter = "";
            }
            if (!"{{request.GET.month}}") {
                var month = "\"" + "{{request.GET.month}}" + "\"";
            } else {
                var month = "";
            }
            var reportDate = "{{ reportDate }}";

            var form = document.createElement("FORM");

            form.setAttribute("id", "closeReportForm");
            form.setAttribute("name", "closeReportForm");
            form.setAttribute("method", "post");
            form.setAttribute("action", action);

            document.body.appendChild(form);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "oblast");
            input.setAttribute("name", "oblast");
            input.setAttribute("value", oblast);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "district");
            input.setAttribute("name", "district");
            input.setAttribute("value", district);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "facility");
            input.setAttribute("name", "facility");
            input.setAttribute("value", facility);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "year");
            input.setAttribute("name", "year");
            input.setAttribute("value", year);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "quarter");
            input.setAttribute("name", "quarter");
            input.setAttribute("value", quarter);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "month");
            input.setAttribute("name", "month");
            input.setAttribute("value", month);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportDate");
            input.setAttribute("name", "reportDate");
            input.setAttribute("value", reportDate);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "table");
            input.setAttribute("name", "table");
            input.setAttribute("value", tableData);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "formPath");
            input.setAttribute("name", "formPath");
            input.setAttribute("value", formPath);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportName");
            input.setAttribute("name", "reportName");
            input.setAttribute("value", reportName);
            form.appendChild(input);

            var input = document.createElement("INPUT");
            input.setAttribute("type", "hidden");
            input.setAttribute("id", "reportType");
            input.setAttribute("name", "reportType");
            input.setAttribute("value", "DOTSTB");
            form.appendChild(input);

            form.submit();
        }
        $(document).ready(function () {
            $("#tableToSql").bind("click", function () {
                if (confirm('{{"mdrtb.closeReportMessage"|get_message:request.session.locale}}')) {
                    savePdf("closeReport.form", "TB-03", "tb03Results");
                }
            });
            /* $("#tableToPdf").click(function(){
                savePdf("exportReport.form", "TB 03", "tb03Results");
            }); */
        });
    </script>

    <script>
        console.log("{{ reportStatus }}");
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("tableToSql").disabled = true;
        } else {
            document.getElementById("tableToSql").disabled = false;
        }
    </script>


</div>

{% endblock %}