{% extends 'app/reporting/report_base.html' %}

{% block content %}




<div>


    <div id="dq">
        {% if locale == 'tj' %}
        <style>
            html * {
                font-family: Times New Roman Tj !important;
            }
        </style>
        {% endif %}

        <style>
            th.rotate {
                /* Something you can count on */
                height: 350px;
                white-space: nowrap;
                valign: middle;
            }

            th.rotate>div {
                transform:
                    /* Magic Numbers */
                    translate(0px, 120px)
                    /* 45 is really 360 - 45 */
                    rotate(270deg);
                width: 30px;
                align: centre;
            }

            td.rotate {
                /* Something you can count on */
                height: 150px;
                white-space: nowrap;
                valign: middle;
            }

            td.rotate>div {
                transform:
                    /* Magic Numbers */
                    translate(0px, 100px)
                    /* 45 is really 360 - 45 */
                    rotate(270deg);
                width: 30px;
                align: centre;
            }

            th.subrotate {
                /* Something you can count on */
                white-space: nowrap;
                valign: middle;
            }

            th.subrotate>div {
                transform:
                    /* Magic Numbers */
                    translate(0px, 65px)
                    /* 45 is really 360 - 45 */
                    rotate(270deg);
                width: 50px;
                align: centre;
            }

            th.dst {
                valign: middle;
            }

            th.dst>div {
                width: 30px;
            }

            th.widedst {
                valign: middle;
            }

            th.widedst>div {
                width: 55px;
            }

            th.normal {
                /* Something you can count on */
                white-space: nowrap;
                valign: middle;
            }

            th.reggroup {
                /* Something you can count on */
                height: 50px;
                white-space: nowrap;
                valign: middle;
            }


            table.resultsTable {
                border-collapse: collapse;
            }

            table.resultsTable td,
            table.resultsTable th {
                border-top: 1px black solid;
                border-bottom: 1px black solid;
                border-right: 1px black solid;
                border-left: 1px black solid;
            }
        </style>

        <table class="resultsTable">
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.oblast"|get_message:request.session.locale}}</td>
                    {% if location.parent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.district"|get_message:request.session.locale}}</td>
                    {% if location.parent is not None %}
                    {% if location.grandparent is None %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.facility"|get_message:request.session.locale}}</td>
                    {% if location.parent and location.grandparent %}
                <td colspan="2">{{ location.location }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.year"|get_message:request.session.locale}}</td>
                <td colspan="2" align="right">{{ request.GET.year }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.quarter"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.quarter }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.month"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ request.GET.month }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.numberOfPatients"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.totalCases }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.numberWithErrors"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorCount }}</td>
            </tr>
            <tr>
                <th colspan="2">{{"mdrtb.dq.errorPercentage"|get_message:request.session.locale}}</td>
                <td align="right" colspan="2">{{ summary.errorPercentage }}</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <th class=normal colspan="4">{{"mdrtb.dq.missingtb03"|get_message:request.session.locale}}</th>
            </tr>
            <tr>
                <td colspan="2">{{"mdrtb.dq.fullName"|get_message:request.session.locale}}</td>
                <td>{{"mdrtb.dq.dob"|get_message:request.session.locale}}</td>
                <td align="center">{{"mdrtb.dq.gender"|get_message:request.session.locale}}</td>
            </tr>
            {% for row in missingTB03 %}
            <tr>
                <td colspan="2"><a href="#" target="_blank">{{ row.patient.personName.familyName }},
                        {{row.patient.personName.givenName}}</a></td>
                <td>{{ row.dateOfBirth }}</td>
                <td align="center">{{ row.gender }}</td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <button>
        <a style="text-decoration: none; color: black;" href="javascript:history.go(-1)">
            {{'mdrtb.back'|get_message:request.session.locale}}
        </a>
    </button>
    <input type="button" onclick="tableToExcel('tb03u', 'TB03u')"
        value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />
    <!-- <input type="button" id="tableToPdf" name="tableToPdf" value="{{"mdrtb.exportToPdfBtn"|get_message:request.session.locale}}" /> -->
    {% if manage_report_closing %}
    <input type="button" id="tableToSql" name="tableToSql"
        value="{{'mdrtb.closeReportBtn'|get_message:request.session.locale}}" />
    <input type="button" onclick="printForm()" value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    {% endif %}
    <script>
        console.log("{{ reportStatus }}");
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("tableToSql").disabled = true;
        } else {
            document.getElementById("tableToSql").disabled = false;
        }
    </script>


</div>

{% endblock %}