{% extends 'app/reporting/report_base.html' %}

{% block content %}


<div>
    <div style="font-size: 0.75rem;">

        <p class="text-xl"><b>Year:</b> {{year}}</p>
        <p class="text-xl"><b>Location:</b> {{location}}</p>
        {% if month %}
        <p><b>Month:</b> {{month}}</p>
        {% elif quarter %}
        <p><b>Quarter:</b> {{quarter}}</p>
        {% endif %}
        <p><b>List:</b> {{listname}}</p>
    </div>
    <div>{{ string_data|safe }}</div>
    <a class="no-underline" href="javascript:history.go(-1)"><button>
            Back
        </button></a>
</div>

{% endblock %}