{% extends 'app/base/base.html' %}

{% block content %}

<div class="p-4 m-6 flex flex-col justify-center">
  <h1 class="page-title">{{'mdrtb.patientLists'|get_message:request.session.locale}}</h1>

  <form onsubmit="disableSubmit()" method="post" action="{% url 'patientlist' %}" class=" flex flex-col space-y-6  p-4">
    {% csrf_token %}
    <div>
      {% include 'app/components/locations.html' %}
    </div>

    <div class="input-container">
      <label class="input-label w-1/6" for="year">{{"mdrtb.year"|get_message:request.session.locale}}</label>
      <input required type="text" class="input form-control" name="year" size="4" id="year">
    </div>
    <div class="input-container">
      <label class="input-label w-1/6" for="month">{{"mdrtb.month"|get_message:request.session.locale}}</label>
      <select name="month" id="month" class="input form-control">
        <option value="">Select</option>
        {% for month in months %}
        <option value="{{month.value}}">{{month.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-container">
      <label class="input-label w-1/6" for="quarter">{{"mdrtb.quarter"|get_message:request.session.locale}}</label>
      <select name="quarter" id="quarter" class="input form-control">
        <option value="">Select</option>
        {% for quarter in quarters %}
        <option value="{{quarter}}">{{quarter}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="flex flex-col space-y-4">
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="allenrolled">
        <label for="">{{'mdrtb.allCasesEnrolled'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="dotsbyregistrationgroup">
        <label for="">{{'mdrtb.dotsCasesByRegistrationGroup'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="dotsbydrugresistance">
        <label for="">{{'mdrtb.byDrugResistance'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="dotsbyanatomicalsite">
        <label for="">{{'mdrtb.dotsCasesByAnatomicalSite'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname"
          value="dotsbyregistrationgroupandbacteriologicalstatus">
        <label for="">{{'dotsPulmonaryCasesByRegisrationGroupAndBacStatus'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="mdrxdrpatients">
        <label for="">{{'mdrtb.drTbPatients'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="mdrsuccessfultreatmentoutcome">
        <label for="">{{'mdrtb.drTbPatientsSuccessfulTreatment'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="mdrxdrwithnotreatment">
        <label for="">{{'mdrtb.drTbPatientsNoTreatment'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="womenofchildbearingage">
        <label for="">{{'mdrtb.womenOfChildbearingAge'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="menofconscriptage">
        <label for="">{{'mdrtb.menOfConscriptAge'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="withconcomitantdisease">
        <label for="">{{'mdrtb.withConcomitantDisease'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bydwelling">
        <label for="">{{'mdrtb.byDwelling'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bysocprofstatus">
        <label for="">{{'mdrtb.bySocProfStatus'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bypopulationcategory">
        <label for="">{{'mdrtb.byPopCategory'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="byplacesofdetection">
        <label for="">{{'mdrtb.byPlaceOfDetection'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bymethodofdetection">
        <label for="">{{'mdrtb.byMethodOfDetection'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bycircumstancesofdetection">
        <label for="">{{'mdrtb.byCircumstancesOfDetection'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="bypulmonarylocation">
        <label for="">{{'mdrtb.byPulmonaryLocation'|get_message:request.session.locale}}</label>
      </div>
      <div class="flex items-center space-x-4">
        <input required type="radio" class="radio-input" name="listname" value="byextrapulmonarylocation">
        <label for="">{{'mdrtb.byExtraPulmonaryLocation'|get_message:request.session.locale}}</label>
      </div>

    </div>
    <button id="submitBtn" class="button-primary w-1/5">{{'mdrtb.generate'|get_message:request.session.locale}}</button>
  </form>

</div>
<script type="text/javascript">
  $("#region-select").prop("required", true);
  $('#month').change((e) => {
    if (e.target.value != '') {
      $('#quarter').prop('disabled', true)
      $('#quarter').prop('title', 'Quarter cannot be selected with month')
    } else {
      $('#quarter').prop('disabled', false)
      $('#quarter').prop('title', '')
    }
  })
  $('#quarter').change((e) => {
    if (e.target.value != '') {
      $('#month').prop('disabled', true)
      $('#month').prop('title', 'Month cannot be selected with quarter')
    } else {
      $('#month').prop('disabled', false)
      $('#month').prop('title', '')
    }
  })
  const disableSubmit = () => {
    $('#submitBtn').prop('disabled', true)
    $('#submitBtn').removeClass('button-primary')
    $('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
                colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
            </lord-icon>

        
        `)
  }


</script>

{% endblock %}