{% extends 'app/reporting/report_base.html' %}

{% block content %}

<div>
    <div id="tb03u">
        <table class="resultsTable">
            <tr>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.registrationNumber"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.dateOfRegistration"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.tb03registration"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.fullName"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.gender"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.ageDOB"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.address"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.addressRegII"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.tbLocalization"|get_message:request.session.locale}}</span></div>
                </th>

                <th class="reggroup" colspan="8">{{"mdrtb.tb03.registrationGroup"|get_message:request.session.locale}}
                </th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.transferFrom"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.confirmedOrSuspect"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.treatmentRegimen"|get_message:request.session.locale}}</th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.ambulatoryHosp"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="1" rowspan="2">
                    {{"mdrtb.tb03.dstSampleCollectionDate"|get_message:request.session.locale}}</th>
                <th class="reggroup" colspan="17" rowspan="2">{{"mdrtb.tb03.dst"|get_message:request.session.locale}}
                </th>
                <th class="normal" colspan="3">{{"mdrtb.xpert"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="4">{{"mdrtb.hain1"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="4">{{"mdrtb.hain2"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.hainCultureResult"|get_message:request.session.locale}}
                </th>

                <th class="reggroup" rowspan="1" colspan="4">
                    {{"mdrtb.tb03.tbHivActivities"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="42">{{"mdrtb.tb03.bacCultureResults"|get_message:request.session.locale}}
                </th>
                <th class="reggroup" rowspan="1" colspan="6">
                    {{"mdrtb.tb03.treatmentOutcomeDate"|get_message:request.session.locale}}</th>
                <th class="" rowspan="3">
                    <div><span>{{"mdrtb.tb03.transferOut"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="1">{{"mdrtb.tb03.relapseYesNo"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="3">{{"mdrtb.tb03.notes"|get_message:request.session.locale}}</th>
            </tr>
            <tr>

                <th class="" rowspan="2">
                    <div><span>{{"mdrtb.tb03.new"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="" rowspan="1" colspan="2">
                    <div><span>{{"mdrtb.tb03.relapseAfter"|get_message:request.session.locale}}</span></div>
                </th>


                <th class="" rowspan="1" colspan="2">
                    <div><span>{{"mdrtb.tb03.defaultAfter"|get_message:request.session.locale}}</span></div>
                </th>
                <!-- <th class="" rowspan="1"><div><span>{{"mdrtb.tb03.defaultAfter"|get_message:request.session.locale}}Default After Treatment<br/>on Regimen </span></div></th> -->
                <th class="" rowspan="1" colspan="2">
                    <div><span>{{"mdrtb.tb03.failureAfter"|get_message:request.session.locale}}</span></div>
                </th>
                <!-- <th class="" rowspan="1"><div><span>{{"mdrtb.tb03.failureAfter"|get_message:request.session.locale}}Failure After Treatment<br/>on Regimen</span></div></th> -->
                <th class="" rowspan="2">
                    <div><span>{{"mdrtb.tb03.other"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.dateOfConfirmation"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.treatmentStartDate"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.dstResultDate"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="3">{{"mdrtb.tb03.xpertResult"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="3">{{"mdrtb.tb03.hainCultureResult"|get_message:request.session.locale}}
                </th>
                <th class="normal">{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th class="normal" colspan="3">{{"mdrtb.tb03.hainCultureResult"|get_message:request.session.locale}}
                </th>

                <th class="normal" rowspan="2">{{"mdrtb.tb03.diagnosticMethod"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.hivTest"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.artTest"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">{{"mdrtb.tb03.cpTest"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month0"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month1"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month2"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month3"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month4"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month5"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month6"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month7"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month8"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month9"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month10"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month11"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month12"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month15"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month18"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month21"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month24"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month27"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month30"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month33"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="1" colspan="2">{{"mdrtb.tb03.month36"|get_message:request.session.locale}}
                </th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.cured"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.txCompleted"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" colspan="2">{{"mdrtb.tb03.died"|get_message:request.session.locale}}</th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.failure"|get_message:request.session.locale}}</span></div>
                </th>

                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.ltfu"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal" rowspan="2">
                    <div><span>{{"mdrtb.tb03.relapseTxMonth"|get_message:request.session.locale}}</span></div>
                </th>

            </tr>

            <tr>
                <th class="normal" rowspan="1">I</th>
                <th class="normal" rowspan="1">II</th>
                <th class="normal" rowspan="1">I</th>
                <th class="normal" rowspan="1">II</th>
                <th class="normal" rowspan="1">I</th>
                <th class="normal" rowspan="1">II</th>
                <th class="dst" rowspan="1">
                    <div>R</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>H</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>E</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>S</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Z</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Km</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Am</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Cm</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Ofx/<br />Lfx</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Mfx</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Pto</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Cs</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>PAS</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Lzd</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Cfz</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Bdq</div>
                </th>
                <th class="dst" rowspan="1">
                    <div>Dlm</div>
                </th>
                <th>{{"mdrtb.date"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.hResult"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.rResult"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.testNumber"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.iResult"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.tb03.fResult"|get_message:request.session.locale}}</th>
                <th>{{"mdrtb.lab"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.yesNoDate"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.resultPosNeg"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.smearShort"|get_message:request.session.locale}}</th>
                <th class="normal">{{"mdrtb.tb03.cultureShort"|get_message:request.session.locale}}</th>
                <th class="normal">
                    <div><span>{{"mdrtb.tb03.ofTb"|get_message:request.session.locale}}</span></div>
                </th>
                <th class="normal">
                    <div><span>{{"mdrtb.tb03.ofOther"|get_message:request.session.locale}}</span></div>
                </th>

            </tr>


            {% for row in patientSet %}
            <tr {% if forloop.counter|divisibleby:2 %} bgcolor="#D3D3D3" {% endif %}>
                <td rowspan="2">
                    <div><span>{{ row.identifierMDR }}</span></div>
                </td>
                <td rowspan="2">{{ row.tb03uRegistrationDate }}</td>
                <td rowspan="1">{{ row.dotsYear }}</td>
                <td rowspan="1">{{ row.patient.personName.familyName }}</td>
                <td rowspan="2" text-align="center">{{ row.gender }}</td>
                <td text-align="center" rowspan="1">{{row.ageAtTB03uRegistration }}</td>
                <td rowspan="2">
                    {{ row.patient.personAddress.stateProvince }},
                    <br />
                    {{row.patient.personAddress.countyDistrict }},
                    {{ row.patient.personAddress.address1 }}
                </td>
                <td rowspan="2">{{ row.reg2Number }}</td>

                <td text-align="center" rowspan="2">{{ row.siteOfDisease }}</td>
                {% for loop in '9'|get_range %}
                <td text-align="center" rowspan="2">
                    {% if row.regGroup == loop %}&#10004;{% endif %}
                </td>
                {% endfor %}
                <td rowspan="1">{{row.mdrtbStatus }}
                <td rowspan="1">{{row.treatmentRegimen }}</td>
                <td rowspan="2">{{ row.treatmentLocation }}</td>

                <td>{{ row.dstCollectionDate}}</td>
                <td rowspan="2" text-align="center">{{ row.dstR}}</td>
                <td rowspan="2" text-align="center">{{ row.dstH }}</td>
                <td rowspan="2" text-align="center">{{ row.dstE }}</td>
                <td rowspan="2" text-align="center">{{ row.dstS }}</td>
                <td rowspan="2" text-align="center">{{ row.dstZ }}</td>
                <td rowspan="2" text-align="center">{{ row.dstKm }}</td>
                <td rowspan="2" text-align="center">{{ row.dstAm }}</td>
                <td rowspan="2" text-align="center">{{ row.dstCm }}</td>
                <td rowspan="2" text-align="center">{{ row.dstOfx }}</td>
                <td rowspan="2" text-align="center">{{ row.dstMfx }}</td>
                <td rowspan="2" text-align="center">{{ row.dstPto }}</td>
                <td rowspan="2" text-align="center">{{ row.dstCs }}</td>
                <td rowspan="2" text-align="center">{{ row.dstPAS }}</td>
                <td rowspan="2" text-align="center">{{ row.dstLzd }}</td>
                <td rowspan="2" text-align="center">{{ row.dstCfz }}</td>
                <td rowspan="2" text-align="center">{{ row.dstBdq}}</td>
                <td rowspan="2" text-align="center">{{ row.dstDlm }}</td>
                <td colspan="3" text-align="center">{{row.xpertMTBResult }} {{row.xpertRIFResult }} </td>
                <td text-align="center">{{row.hainTestDate }} </td>
                <td colspan="3" text-align="center">{{row.hainMTBResult }}</td>
                <td text-align="center">{{row.hain2TestDate }} </td>
                <td colspan="3" text-align="center">{{row.hain2MTBResult }}</td>
                <td rowspan="1">{{row.drugResistance }}</td>
                <td rowspan="2">{{row.hivTestDate }}</td>
                <td rowspan="2">{{row.hivTestResult }}</td>
                <td rowspan="2">{{row.artStartDate }}</td>
                <td rowspan="2">{{row.cpStartDate }}</td>
                <td rowspan="1">{{row.month0SmearResult }}</td>
                <td rowspan="1">{{row.month0CultureResult }}</td>
                <td rowspan="1">{{row.month1SmearResult }}</td>
                <td rowspan="1">{{row.month1CultureResult }}</td>
                <td rowspan="1">{{row.month2SmearResult }}</td>
                <td rowspan="1">{{row.month2CultureResult }}</td>
                <td rowspan="1">{{row.month3SmearResult }}</td>
                <td rowspan="1">{{row.month3CultureResult }}</td>
                <td rowspan="1">{{row.month4SmearResult }}</td>
                <td rowspan="1">{{row.month4CultureResult }}</td>
                <td rowspan="1">{{row.month5SmearResult }}</td>
                <td rowspan="1">{{row.month5CultureResult }}</td>
                <td rowspan="1">{{row.month6SmearResult }}</td>
                <td rowspan="1">{{row.month6CultureResult }}</td>
                <td rowspan="1">{{row.month7SmearResult }}</td>
                <td rowspan="1">{{row.month7CultureResult }}</td>
                <td rowspan="1">{{row.month8SmearResult }}</td>
                <td rowspan="1">{{row.month8CultureResult }}</td>
                <td rowspan="1">{{row.month9SmearResult }}</td>
                <td rowspan="1">{{row.month9CultureResult }}</td>
                <td rowspan="1">{{row.month10SmearResult }}</td>
                <td rowspan="1">{{row.month10CultureResult }}</td>
                <td rowspan="1">{{row.month11SmearResult }}</td>
                <td rowspan="1">{{row.month11CultureResult }}</td>
                <td rowspan="1">{{row.month12SmearResult }}</td>
                <td rowspan="1">{{row.month12CultureResult }}</td>
                <td rowspan="1">{{row.month15SmearResult }}</td>
                <td rowspan="1">{{row.month15CultureResult }}</td>
                <td rowspan="1">{{row.month18SmearResult }}</td>
                <td rowspan="1">{{row.month18CultureResult }}</td>
                <td rowspan="1">{{row.month21SmearResult }}</td>
                <td rowspan="1">{{row.month21CultureResult }}</td>
                <td rowspan="1">{{row.month24SmearResult }}</td>
                <td rowspan="1">{{row.month24CultureResult }}</td>
                <td rowspan="1">{{row.month27SmearResult }}</td>
                <td rowspan="1">{{row.month27CultureResult }}</td>
                <td rowspan="1">{{row.month30SmearResult }}</td>
                <td rowspan="1">{{row.month30CultureResult }}</td>
                <td rowspan="1">{{row.month33SmearResult }}</td>
                <td rowspan="1">{{row.month33CultureResult }}</td>
                <td rowspan="1">{{row.month36SmearResult }}</td>
                <td rowspan="1">{{row.month36CultureResult }}</td>
                {% for loop in '7'|get_range %}
                <td text-align="center" rowspan="2">
                    {% if row.tb03uTreatmentOutcome == loop %}{{row.tb03uTreatmentOutcomeDate }}{% endif %}
                </td>
                {% endfor %}
                <td rowspan="1">{{row.relapsed }}</td>
                <td rowspan="2">{{row.notes }}</td>

            </tr>
            <tr {% if forloop.counter|divisibleby:2 %} bgcolor="#D3D3D3" {% endif %}>

                <td rowspan="1">{{ row.identifierDOTS }}</td>
                <td rowspan="1">{{ row.patient.personName.givenName }}</td>
                <td rowspan="1">{{ row.dateOfBirth }}</td>
                <td rowspan="1">{{ row.mdrConfDate }}</td>
                <td rowspan="1">{{row.tb03uTreatmentStartDate }}</td>
                <td rowspan="1">{{ row.dstResultDate}}</td>
                <td>{{row.xpertTestDate }}</td>
                <td>{{row.xpertTestNumber }}</td>
                <td>{{row.xpertLab }}</td>
                <td>{{row.hainTestNumber }}</td>
                <td text-align="center">{{row.hainINHResult }}</td>
                <td text-align="center">{{row.hainRIFResult }}</td>
                <td>{{row.hainLab }}</td>
                <td>{{row.hain2TestNumber }}</td>
                <td text-align="center">{{row.hain2InjResult }}</td>
                <td text-align="center">{{row.hain2FqResult }}</td>
                <td>{{row.hain2Lab }}</td>
                <td rowspan="1">{{ row.diagnosticMethod}}</td>

                <td rowspan="1">{{row.month0SmearResultDate }}</td>
                <td rowspan="1">{{row.month0CultureResultDate }}</td>
                <td rowspan="1">{{row.month1SmearResultDate }}</td>
                <td rowspan="1">{{row.month1CultureResultDate }}</td>
                <td rowspan="1">{{row.month2SmearResultDate }}</td>
                <td rowspan="1">{{row.month2CultureResultDate }}</td>
                <td rowspan="1">{{row.month3SmearResultDate }}</td>
                <td rowspan="1">{{row.month3CultureResultDate }}</td>
                <td rowspan="1">{{row.month4SmearResultDate }}</td>
                <td rowspan="1">{{row.month4CultureResultDate }}</td>
                <td rowspan="1">{{row.month5SmearResultDate }}</td>
                <td rowspan="1">{{row.month5CultureResultDate }}</td>
                <td rowspan="1">{{row.month6SmearResultDate }}</td>
                <td rowspan="1">{{row.month6CultureResultDate }}</td>
                <td rowspan="1">{{row.month7SmearResultDate }}</td>
                <td rowspan="1">{{row.month7CultureResultDate }}</td>
                <td rowspan="1">{{row.month8SmearResultDate }}</td>
                <td rowspan="1">{{row.month8CultureResultDate }}</td>
                <td rowspan="1">{{row.month9SmearResultDate }}</td>
                <td rowspan="1">{{row.month9CultureResultDate }}</td>
                <td rowspan="1">{{row.month10SmearResultDate }}</td>
                <td rowspan="1">{{row.month10CultureResultDate }}</td>
                <td rowspan="1">{{row.month11SmearResultDate }}</td>
                <td rowspan="1">{{row.month11CultureResultDate }}</td>
                <td rowspan="1">{{row.month12SmearResultDate }}</td>
                <td rowspan="1">{{row.month12CultureResultDate }}</td>
                <td rowspan="1">{{row.month15SmearResultDate }}</td>
                <td rowspan="1">{{row.month15CultureResultDate }}</td>
                <td rowspan="1">{{row.month18SmearResultDate }}</td>
                <td rowspan="1">{{row.month18CultureResultDate }}</td>
                <td rowspan="1">{{row.month21SmearResultDate }}</td>
                <td rowspan="1">{{row.month21CultureResultDate }}</td>
                <td rowspan="1">{{row.month24SmearResultDate }}</td>
                <td rowspan="1">{{row.month24CultureResultDate }}</td>
                <td rowspan="1">{{row.month27SmearResultDate }}</td>
                <td rowspan="1">{{row.month27CultureResultDate }}</td>
                <td rowspan="1">{{row.month30SmearResultDate }}</td>
                <td rowspan="1">{{row.month30CultureResultDate }}</td>
                <td rowspan="1">{{row.month33SmearResultDate }}</td>
                <td rowspan="1">{{row.month33CultureResultDate }}</td>
                <td rowspan="1">{{row.month36SmearResultDate }}</td>
                <td rowspan="1">{{row.month36CultureResultDate }}</td>
                <td rowspan="1">{{row.relapseMonth }}</td>

            </tr>
            {% endfor %}

        </table>
    </div>
    <button>
        <a style="text-decoration: none; color: black;" href="javascript:history.go(-1)">
            {{'mdrtb.back'|get_message:request.session.locale}}
        </a>
    </button>
    <input type="button" onclick="tableToExcel('tb03u', 'TB03u')"
        value="{{'mdrtb.exportToExcelBtn'|get_message:request.session.locale}}" />
    <!-- <input type="button" id="tableToPdf" name="tableToPdf" value="{{"mdrtb.exportToPdfBtn"|get_message:request.session.locale}}" /> -->
    {% if manage_report_closing %}
    <input type="button" id="tableToSql" name="tableToSql"
        value="{{'mdrtb.closeReportBtn'|get_message:request.session.locale}}" />
    <input type="button" onclick="printForm()" value="{{'mdrtb.print'|get_message:request.session.locale}}" />
    {% endif %}
    <script>
        console.log("{{ reportStatus }}");
        if ("{{ reportStatus }}" === "true") {
            document.getElementById("tableToSql").disabled = true;
        } else {
            document.getElementById("tableToSql").disabled = false;
        }
    </script>
</div>

{% endblock %}