{% extends 'app/base/base.html' %}

{% block content %}
<div class="mx-auto w-2/4">
	<form id="report_form" onsubmit="disableSubmit()" action="{% url 'tb03export' %}" method="post"
		class="flex flex-col space-y-6">
		{% csrf_token %}
		<h2 class="page-title">{{"mdrtb.tb03Parameters"|get_message:request.session.locale}}</h2>
		<div>
			{% include 'app/components/locations.html' %}
		</div>
		<div class="input-container">
			<label class="input-label w-1/6" for="year">{{"mdrtb.year"|get_message:request.session.locale}}</label>
			<input required type="text" class="input form-control" name="year" size="4" id="year">
		</div>
		<div class="input-container">
			<label class="input-label w-1/6" for="month">{{"mdrtb.month"|get_message:request.session.locale}}</label>
			<select required name="month" id="month" class="input form-control">
				<option value="">Select</option>
				{% for month in months %}
				<option value="{{month.value}}">{{month.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="input-container">
			<label class="input-label w-1/6"
				for="quarter">{{"mdrtb.quarter"|get_message:request.session.locale}}</label>

			<div class="flex items-center w-full space-x-4">
				<div class="space-x-2 flex items-center">
					<label for="">Select</label>
					<input checked type="radio" name="quarter" id="quarter" class="radio-input" value="">
				</div>
				{% for quarter in quarters %}
				<div class="space-x-2 flex items-center">
					<label for="quarter">{{quarter}}</label>
					<input required type="radio" name="quarter" class="radio-input" value="{{quarter}}">
				</div>
				{% endfor %}

			</div>



		</div>
		<div class="flex-center space-x-4 mt-4">
			<button type="submit" id="submitBtn"
				class="button-primary w-1/5">{{'general.submit'|get_message_openMRS:request.session.locale}}</button>

			<a href="/" class="cancel-button">
				{{'general.cancel'|get_message_openMRS:request.session.locale}}
			</a>
		</div>

	</form>
</div>
<script type="text/javascript">

	$('#region-select').prop('required', true)

	function resetForm() {
		console.log($('#report_form')[0])
		$('#report_form')[0].reset();
	}

	$(window).on('popstate', function (event) {
		console.log("pop bro")
		resetForm();
	})

	$('#month').change((e) => {
		if (e.target.value != '') {
			$("input[name='quarter']").prop('disabled', true)
			$("input[name='quarter']").prop('title', 'Quarter cannot be selected with month')
		} else {
			$("input[name='quarter']").prop('disabled', false)
			$("input[name='quarter']").prop('title', '')
		}
	})
	$("input[name='quarter']").change((e) => {


		if (e.target.value != '') {
			$('#month').prop('disabled', true)
			$('#month').prop('title', 'Month cannot be selected with quarter')
		} else {
			$('#month').prop('disabled', false)
			$('#month').prop('title', '')
		}
	})
	const disableSubmit = () => {
		$('#submitBtn').prop('disabled', true)
		$('#submitBtn').removeClass('button-primary')
		$('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
                colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
            </lord-icon>

        
        `)

	}


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</script>

{% endblock %}