{% extends 'app/base/base.html' %}

{% block title %}
{{title}}
{% endblock %}



{%block content%}

<div>
  <form class="flex flex-col">
    <div class="m-16 flex flex-col justify-center space-y-8">
      <h1 class="text-[#2D9CDB] text-3xl font-bold">
        {{'mdrtb.pv.regimenForm'|get_message:request.session.locale}}
      </h1>
      <div class="bg-[#9e9e9e28] shadow-md p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.oblast'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> Dushanbe </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.district'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> Cyao </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.facility'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> MCW(01) </span>
          </div>
        </div>
       
      </div>
      <div class="p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.date'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.cmacDate'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.form89.cmacNumber'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.form89.placeOfCommission'|get_message:request.session.locale}}</label>
            <select class="input">
              {% for concept in concepts.cmacplace %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.resistanceType'|get_message:request.session.locale}}</label>
            <select class="input">
              {% for concept in concepts.resistancetype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.fundingSource'|get_message:request.session.locale}}</label>
            <select class="input">
              {% for concept in concepts.fundingsource %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.sldRegimenType'|get_message:request.session.locale}}</label>
            <select class="input">
              {% for concept in concepts.sldregimentype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.tb03.hivTestDate'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.otherRegimen'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.cmDose'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.amDose'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.mfxDose'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.lfxDose'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.ptoDose'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.csDose'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.pasDose'|get_message:request.session.locale}}</label>
            <select class="input">
              <option value="">Tajikistan</option>
              <option value="">Other</option>
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.zDose'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="name">{{'mdrtb.pv.eDose'|get_message:request.session.locale}}</label>
            <input type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.zDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.eDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>

          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.hDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.lzdDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.cfzDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.bdqDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.dlmDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.impDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.amxDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.hrDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.hrzeDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.sDose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.other'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.otherDrug1Dose'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.otherDrug1Name'|get_message:request.session.locale}}</label>
              <input type="date" class="input" />
            </div>
            
          </div>
          <div class="flex items-center justify-between space-x-6">
            <div class="input-container">
              <label class="tb03-form-label" for="name">{{'mdrtb.pv.comments'|get_message:request.session.locale}}</label>
              <textarea class="input" cols="10" rows="5"></textarea>
            </div>
          </div>
          <div class="flex-center space-x-4 mt-4">
            <button class="button-primary w-1/5">
              Save
            </button>
            <a 
            href="javascript:history.go(-1)"
              class="cancel-button">
              Cancel
            </button>
          </div>
          
      </div>
    </div>
    
  </form>
</div>

{% endblock %}