{% extends 'app/base/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{%block content%}

<div>
  <form onsubmit="disableSubmit()"
    action="{% if state == 'edit' %}{% url 'edittb03u' uuid=uuid formid=form.uuid %}{% else %}{% url 'tb03u' uuid=uuid %}{% endif %}"
    method="post" class="flex flex-col">
    {% csrf_token %}
    <div class="m-16 flex flex-col justify-center space-y-8">
      {% include 'app/components/breadcrumbs.html'%}

      {% if state == 'edit' %}
      <div id="form-info" class="flex-center space-x-4">
        <h1 class="text-[#2D9CDB] text-3xl font-bold">
          {{'mdrtb.edit'|get_message:request.session.locale}}
          {{'mdrtb.tb03u'|get_message:request.session.locale}}
        </h1>
        <button type="button" id="editbtn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>

        </button>
        <button hidden type="button" id="canceleditbtn" class="cancel-button">Cancel</button>
        {% if delete_encounters_privilege %}
        <a class="cancel-button" href="{% url 'deletetb03u' formid=form.uuid %}" type="button" id="deletetb03">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        </a>
        {% endif %}


      </div>
      {% else %}
      <h1 class="text-[#2D9CDB] text-3xl font-bold">
        {{'mdrtb.tb03u'|get_message:request.session.locale}} Form
      </h1>
      {% endif %}

      <div class="bg-[#9e9e9e28] shadow-md p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.name'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{current_patient_program_flow.current_patient.name}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.tb03RegistrationNumber'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{identifiers.dots.identifier}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.tb03RegistrationYear'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label  w-full">
              {{current_patient_program_flow.current_patient.auditInfo.dateCreated|get_year}}
            </span>
          </div>

        </div>
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.ageAtMdrRegistration'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label  w-full"> {{current_patient_program_flow.current_patient.age}} </span>
          </div>
          <div class="space-x-3">

            <span class="font-bold">
              {{'mdrtb.tb03.dateOfBirth'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label  w-full">
              {{current_patient_program_flow.current_patient.dob | iso_to_normal_date}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.gender'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label  w-full"> {{current_patient_program_flow.current_patient.gender}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.address'|get_message:request.session.locale}}:

            </span>
            <span class="tb03-form-label  w-full">
              {{current_patient_program_flow.current_patient.address}} </span>
          </div>
        </div>
      </div>
      <div class="p-4 grid grid-cols-2 gap-4">
        <div class="space-y-4">
          <div class="input-container">
            <label class="tb03-form-label w-full" for="dateOfResistance">
              {{'mdrtb.tb03u.dateOfResistanceTypeDuringTreatment'|get_message:request.session.locale}}</label>
            <input class="input form-control" type="text" disabled
              value="{{current_patient_program_flow.current_program.dateEnrolled | iso_to_normal_date}}">
          </div>
          {% if state == 'edit' %}
          <div class="input-container">
            <label class="tb03-form-label w-full" for="dateOfResistance">
              {{'mdrtb.location'|get_message:request.session.locale}}</label>
            <input id="location" class="input form-control" type="text" disabled
              value="{{form.encounter.location.name}}">
          </div>
          {% else %}
          <div id="locations-container" class="flex flex-col space-y-4">
            <div class="input-container">
              <label class="input-label w-full"
                for="country">{{'Location.country'|get_message_openMRS:request.session.locale}}</label>
              <select class="input form-control" name="country" id="country-select">
                <option selected value="Таджикистан">{{'COUNTRY'|get_constant}}</option>

              </select>
            </div>
            <div class="input-container">
              <label class="input-label w-full" for="name">{{'mdrtb.region'|get_message:request.session.locale}}</label>
              <select required class="input form-control" name="region" id="region-select">
                <option value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              </select>
            </div>
            <div id="subregion-container" class="input-container hidden">
              <label id="subregion-label" class="input-label w-full" for="name">Sub region</label>
              <select disabled class="input form-control" name="subregion" id="subregion-select">
                <option value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              </select>
            </div>
            <div class="input-container">
              <label id="district-label" class="input-label w-full"
                for="name">{{'mdrtb.district'|get_message:request.session.locale}}</label>
              <select disabled class="input form-control" name="district" id="district-select">
                <option value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              </select>
            </div>
            <div class="input-container">
              <label id="facility-label" class="input-label w-full"
                for="name">{{'mdrtb.facility'|get_message:request.session.locale}}</label>
              <select disabled class="input form-control" name="facility" id="facility-select">
                <option value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>

              </select>
            </div>
          </div>
          {% endif %}
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="sldRegisterNumber">{{'mdrtb.tb03.sldRegisterNumber'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input class="input form-control" type="number" value="{{form.sldRegisterNumber}}"
              name="{{'REGIMEN_2_REG_NUMBER' | get_concept }}">
            {% else %}
            <input class="input form-control" type="number" name="{{'REGIMEN_2_REG_NUMBER' | get_concept }}">
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="name">{{'mdrtb.tb03.siteOfDisease'|get_message:request.session.locale}}</label>
            <select name="{{'ANATOMICAL_SITE_OF_TB' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.anatomicalSite.uuid}}">{{form.anatomicalSite.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.anatomicalSite %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.mdrStatus'|get_message:request.session.locale}}</label>
            <select name="{{'MDR_STATUS' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.mdrStatus.uuid}}">{{form.mdrStatus.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.drtbstatus %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="confirmationDate">{{'mdrtb.tb03.confirmationDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'DATE_OF_MDR_CONFIRMATION' | get_concept }}"
              value="{{form.confirmationDate | iso_to_normal_date}}" type="date" class="input form-control" />
            {% else %}
            <input name="{{'DATE_OF_MDR_CONFIRMATION' | get_concept }}" type="date" class="input form-control" />
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="patientCategory">{{'mdrtb.tb03.patientCategory'|get_message:request.session.locale}}</label>
            <select name="{{'TUBERCULOSIS_PATIENT_CATEGORY' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.patientCategory.uuid}}">{{form.patientCategory.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.prescribedtreatment %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="mdrTreatmentStartDate">{{'mdrtb.tb03.mdrTreatmentStartDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'MDR_TREATMENT_START_DATE' | get_concept }}"
              value="{{form.mdrTreatmentStartDate | iso_to_normal_date}}" type="date" class="input form-control" />
            {% else %}
            <input name="{{'MDR_TREATMENT_START_DATE' | get_concept }}" type="date" class="input form-control" />
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.relapseMonth'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'RELAPSE_MONTH' | get_concept }}" type="number" pattern="[1-12]{12}"
              title="Enter month number" class="input form-control" value="{{form.relapseMonth}}" />
            {% else %}
            <input name="{{'RELAPSE_MONTH' | get_concept }}" type="number" pattern="[1-12]{12}"
              title="Enter month number" class="input form-control" />
            {% endif %}

          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.otherCauseOfDeath'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input disabled id="other-cause-of-death" value="{{form.otherCauseOfDeath}}"
              name="{{'OTHER_CAUSE_OF_DEATH' | get_concept }}" type="text" class="input form-control" />
            {% else %}
            <input disabled id="other-cause-of-death" name="{{'OTHER_CAUSE_OF_DEATH' | get_concept }}" type="text"
              class="input form-control" />
            {% endif %}
          </div>
        </div>
        <div class="space-y-4">
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.txLocation'|get_message:request.session.locale}}</label>
            <select name="{{'TREATMENT_LOCATION' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.treatmentLocation.uuid}}">{{form.treatmentLocation.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.treatmentlocation %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.nameOfTreatmentLocation'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'NAME_OF_TREATMENT_LOCATION' | get_concept }}" value="{{form.nameOfTreatmentLocation}}"
              type="text" class="input form-control" />
            {% else %}
            <input name="{{'NAME_OF_TREATMENT_LOCATION' | get_concept }}" type="text" class="input form-control" />
            {% endif %}

          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="resistancetype">{{'mdrtb.tb03.resistanceType'|get_message:request.session.locale}}</label>
            <select name="{{'RESISTANCE_TYPE' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.resistanceType.uuid}}">{{form.resistanceType.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.resistancetype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="basisForDiagnosis">{{'mdrtb.tb03.basisForDiagnosis'|get_message:request.session.locale}}</label>
            <select name="{{'METHOD_OF_DETECTION' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.basisForDiagnosis.uuid}}">{{form.basisForDiagnosis.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.methodofdetection %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.hivStatus'|get_message:request.session.locale}}</label>
            <select name="{{'RESULT_OF_HIV_TEST' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.hivStatus.uuid}}">{{form.hivStatus.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.resultofhivtest %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.hivTestDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'DATE_OF_HIV_TEST' | get_concept }}" value="{{form.hivTestDate | iso_to_normal_date}}"
              type="date" class="input form-control">
            {% else %}
            <input name="{{'DATE_OF_HIV_TEST' | get_concept }}" type="date" class="input form-control">
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.artStartDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'DATE_OF_ART_TREATMENT_START' | get_concept }}" type="date" class="input form-control"
              value="{{form.artStartDate|iso_to_normal_date}}" />
            {% else %}
            <input name="{{'DATE_OF_ART_TREATMENT_START' | get_concept }}" type="date" class="input form-control" />
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.pctStartDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'DATE_OF_PCT_TREATMENT_START' | get_concept }}" type="date" class="input form-control"
              value="{{form.pctStartDate | iso_to_normal_date}}" />
            {% else %}
            <input name="{{'DATE_OF_PCT_TREATMENT_START' | get_concept }}" type="date" class="input form-control" />
            {% endif %}
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.treatmentOutcome'|get_message:request.session.locale}}</label>
            <select id="outcome-select" name="{{'MDR_TB_TREATMENT_OUTCOME' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.treatmentOutcome.uuid}}">{{form.treatmentOutcome.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.multidrugresistanttuberculosistreatmentoutcome %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.treatmentOutcomeDateOnly'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input name="{{'TREATMENT_OUTCOME_DATE' | get_concept }}" type="date" class="input form-control"
              value="{{form.treatmentOutcomeDate | iso_to_normal_date}}" />
            {% else %}
            <input name="{{'TREATMENT_OUTCOME_DATE' | get_concept }}" type="date" class="input form-control" />
            {% endif %}

          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full"
              for="name">{{'mdrtb.relapsed'|get_message:request.session.locale}}</label>
            <div class="flex-center space-x-4 w-full">
              <div class="flex-center space-x-2">
                <label for="yes">{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                {% if state == 'edit' %}
                {% if form.relapsed.uuid == constants.YES %}
                <input checked name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.YES}}" />
                {% else %}
                <input name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.YES}}" />
                {% endif %}
                {% else %}
                <input name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.YES}}" />
                {% endif %}
              </div>
              <div class="flex-center space-x-2">
                <label for="No">{{'mdrtb.no'|get_message:request.session.locale}}</label>
                {% if state == 'edit' %}
                {% if form.relapsed.uuid == constants.NO %}
                <input checked name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.NO}}" />
                {% else %}
                <input name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.NO}}" />
                {% endif %}
                {% else %}
                <input name="{{'PATIENT_RELAPSED' | get_concept }}" class="radio-input" type="radio"
                  value="{{constants.NO}}" />
                {% endif %}
              </div>
            </div>


          </div>
          <div class="input-container">
            <label class="tb03-form-label  w-full"
              for="name">{{'mdrtb.causeOfDeath'|get_message:request.session.locale}}</label>
            <select disabled id="cause-of-death" name="{{'CAUSE_OF_DEATH' | get_concept }}" class="input form-control">
              {% if state == 'edit' %}
              <option selected value="{{form.causeOfDeath.uuid}}">{{form.causeOfDeath.display}}</option>
              {% else %}
              <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
              {% endif %}
              {% for concept in concepts.causeofdeath %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>


          </div>
          <div class="input-container">
            <label style="width: 35%;" class="tb03-form-label  w-full"
              for="name">{{'mdrtb.tb03.afterOutcomeDeathDate'|get_message:request.session.locale}}</label>
            {% if state == 'edit' %}
            <input disabled id="date-of-death" value="{{form.dateOfDeathAfterTreatmentOutcome | iso_to_normal_date }}"
              name="{{'DATE_OF_DEATH_AFTER_TREATMENT_OUTCOME' | get_concept }}" type="date"
              class="input form-control" />
            {% else %}
            <input disabled id="date-of-death" name="{{'RELAPSE_MONTH' | get_concept }}" type="date"
              class="input form-control" />
            {% endif %}

          </div>
        </div>
      </div>
      <div style="padding-left: 1rem;" class="flex items-center  justify-between space-x-6">
        <div class="input-container">
          <label style="width: 8rem;" class="tb03-form-label "
            for="name">{{'mdrtb.tb03.clinicalNotes'|get_message:request.session.locale}}</label>
          {% if state == 'edit' %}
          <textarea name="{{'CLINICIAN_NOTES' | get_concept }}" class="input form-control" cols="10"
            rows="5">{{form.clinicalNotes}}</textarea>
          {% else %}
          <textarea name="{{'CLINICIAN_NOTES' | get_concept }}" class="input form-control" cols="10"
            rows="5"></textarea>
          {% endif %}

        </div>
      </div>



      <div class="p-4 flex items-center">
        <button type="submit" id="submitBtn" class="button-primary w-1/5">
          {{'general.save'|get_message_openMRS:request.session.locale}}
        </button>

        <a href="javascript:history.go(-1)" class="cancel-button">
          {{'general.cancel'|get_message_openMRS:request.session.locale}}

        </a>
      </div>
  </form>
</div>

<script>
  const disableSubmit = () => {
    $('#submitBtn').prop('disabled', true)
    $('#submitBtn').removeClass('button-primary')
    $('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
            colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
        </lord-icon>`)
  }

  let state = "{{state}}";
  if (state === 'edit') {
    $('input').prop('disabled', true).prop('', false)
    $('input[name=csrfmiddlewaretoken]').prop('disabled', false)
    $('select').prop('disabled', true).prop('', false)
    $('textarea').prop('disabled', true).prop('', false)
    $('#canceleditbtn').prop('hidden', true)

  }
  $('#editbtn').click(function () {
    $('input').prop('disabled', false)
    $('select').prop('disabled', false)
    $('textarea').prop('disabled', false)
    $('#canceleditbtn').prop('hidden', false)
    $("#location").prop('disabled', true)
  })
  $('#canceleditbtn').click(function () {
    $('input').prop('disabled', true)
    $('select').prop('disabled', true)
    $('textarea').prop('disabled', true)
    $('#canceleditbtn').prop('hidden', true)
  })

  $('#outcome-select').change((e) => {
    let selected = e.target.value
    if (selected === "{{'DIED' | get_concept}}") {
      $('#cause-of-death').prop('required', true).prop('disabled', false);
      $('#date-of-death').prop('required', true).prop('disabled', false);
      $('#other-cause-of-death').prop('required', true).prop('disabled', false);

    } else {
      $('#cause-of-death').prop('required', false).prop('disabled', true);
      $('#date-of-death').prop('required', false).prop('disabled', true);
      $('#other-cause-of-death').prop('required', false).prop('disabled', true);
    }
  })

  let date = new Date();
  maxDate = date.toISOString().substring(0, 10);
  $('input[type="date"]').prop("max", maxDate)
</script>

{% endblock %}