{% extends 'app/base/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{%block content%}
{% include 'app/components/nav.html' %}

<div class="loc-page loc-form-page">
  <div class="loc-header">
    <div>
      <h1>{{'mdrtb.users.changePassword'|get_message:locale|default:"en"}}</h1>
      <p class="loc-subtitle">{{ user.username|default:user.display }}</p>
    </div>
    <a class="loc-linkbtn" href="{% url 'manageUsers' %}">
      &larr; {{'User.manage'|get_message:locale|default:"en"}}</a>
  </div>

  <form method="post" action="{% url 'changeUserPassword' uuid=user.uuid %}" autocomplete="off">
    {% csrf_token %}
    <div class="loc-field">
      <label for="password" class="required">{{'mdrtb.users.newPassword'|get_message:locale|default:"en"}}</label>
      <input type="password" id="password" name="password" required autocomplete="new-password">
    </div>
    <div class="loc-field">
      <label for="confirm_password" class="required">
        {{'mdrtb.users.confirmPassword'|get_message:locale|default:"en"}}</label>
      <input type="password" id="confirm_password" name="confirm_password" required autocomplete="new-password">
    </div>
    <p class="loc-hint">{{'mdrtb.users.passwordRule'|get_message:locale|default:"en"}}</p>

    <div class="loc-form-actions">
      <button type="submit" class="btn btn-primary">
        {{'general.save'|get_message:locale|default:"en"}}</button>
      <a class="loc-linkbtn" href="{% url 'manageUsers' %}">
        {{'general.cancel'|get_message:locale|default:"en"}}</a>
    </div>
  </form>
</div>
{% endblock %}
