{% extends 'app/base/base_without_menu.html' %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}


<div class="m-4">
    <h1 class="primary-heading">{{'commonlabtest.request.add'|get_message_commonlab:request.session.locale}}</h1>
    <form class="m-10 flex-column-center space-y-6" action="">
        <div class="input-container">
            <label class="input-label" for="">
                {{'ConceptProposal.encounter'|get_message_openMRS:request.session.locale}}

            </label>
            <select name="" id="" class="input">
                {% for encounter in encounters %}
                <option value="{{ encounter.uuid }}">{{ encounter.display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-container">
            <label class="input-label" for="">
                {{'general.testGroup'|get_message_commonlab:request.session.locale}}

            </label>
            <select name="" id="group-select" class="input">
                <option selected value="None">Select</option>
                {% for group in testgroups %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-container">
            <label class="input-label" for="">
                {{'general.testType'|get_message_commonlab:request.session.locale}}

            </label>
            <select disabled name="" id="test-select" class="input">
            </select>
        </div>
        <div class="input-container">
            <label class="input-label" for="">
                {{'commonlabtest.order.labReferenceNo'|get_message_commonlab:request.session.locale}}

            </label>
            <input id="labref" class="input" type="text" value="{{'placeholder' | get_datenow}}">
        </div>
        <div class="input-container">
            <label class="input-label" for="">
                {{'general.instructions'|get_message_commonlab:request.session.locale}}

            </label>
            <textarea name="" id="" class="input"></textarea>
        </div>
        <div class="flex-center space-x-4">
            <button class="button-primary w-1/5">{{'general.save'|get_message_openMRS:request.session.locale}}</button>
            <a href="javascript:history.go(-1)"
                class="cancel-button">{{'general.cancel'|get_message_openMRS:request.session.locale}}</a>
        </div>

    </form>
</div>

<script>
    let labtests = JSON.parse("{{labtests | escapejs}}")
    $('#group-select').change(function () {
        $('#test-select').html('')
        let group = $('#group-select').val()
        if (group != 'None') {
            let testsByGroup = labtests.filter(test => test.testGroup === group)
            $('#test-select').prop('disabled', false)
            if (testsByGroup.length === 1) {
                $('#test-select').append(
                    $("<option>", {
                        value: testsByGroup[0].uuid,
                        text: testsByGroup[0].name,
                        selected: true
                    })
                )
            } else {
                testsByGroup.forEach(item => {
                    $('#test-select').append(
                        $("<option>", {
                            value: item.uuid,
                            text: item.name,
                        })
                    )
                })
            }
        } else {
            $('#test-select').prop('disabled', true)

        }

    })


</script>

{% endblock %}