{% extends 'app/base/base.html' %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}
<div class="mx-4">
    {% include 'app/components/breadcrumbs.html'%}
</div>

<div class="mx-auto w-1/2">
    {% if state == 'edit' %}
    <div id="form-info" class="flex-center space-x-4">
        <h1 class="text-[#2D9CDB] text-3xl font-bold">
            {{'commonlabtest.labtestsample.edit'|get_message:request.session.locale}}
        </h1>
        <button type="button" id="editbtn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
            </svg>

        </button>
        <button hidden type="button" id="canceleditbtn" class="cancel-button">Cancel</button>
        <a href="{% url 'deletesample' orderid=orderid sampleid=sample.uuid %}" type="button" id="dellabtest">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
        </a>


    </div>
    {% else %}
    <h2 class="text-4xl font-bold leading-tight text-[#2d9cdb]">
        {{'commonlabtest.labtestsample.add'|get_message:request.session.locale}}
    </h2>
    {% endif %}
    <form onsubmit="disableSubmit()" class="m-10 flex-column-center space-y-6"
        action="{% if state == 'edit' %}{% url 'edittestsample' sampleid=sample.uuid orderid=orderid %}{% else %}{% url 'addtestsample' orderid=orderid %}{% endif %}"
        method="post">
        {% csrf_token %}
        <div class="input-container">
            <label class="input-label required">
                {{'commonlabtest.specimenType'|get_message:request.session.locale}}
            </label>
            <select required name="specimentype" class="input form-control">
                {% if state == 'edit' and sample.specimenType %}
                    <option selected value="{{sample.specimenType.uuid}}">{{sample.specimenType.display}}</option>
                {% else %}
                    <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
                {% endif %}
                {% for type in specimentype %}
                    <option value="{{ type.uuid }}">{{ type.name }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="input-container">
            <label class="input-label required">
                {{'commonlabtest.specimenSite'|get_message:request.session.locale}}
            </label>
            <select required name="specimensite" id="group-select" class="input form-control">
                {% if state == 'edit' and sample.specimenSite %}
                    <option selected value="{{sample.specimenSite.uuid}}">{{sample.specimenSite.display}}</option>
                {% else %}
                    <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
                {% endif %}
                {% for site in specimensite %}
                    <option value="{{ site.uuid }}">{{ site.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-container">
            <label class="input-label">
                {{'commonlabtest.labtestsample.quantity'|get_message:request.session.locale}}
            </label>
            {% if state == 'edit' and sample.quantity %}
                <input class="input form-control" value="{{sample.quantity}}" type="number" name="quantity">
            {% else %}
                <input class="input form-control" type="number" name="quantity">
            {% endif %}

        </div>
        <div class="input-container">
            <label class="input-label">
                {{'commonlabtest.labtestsample.unit'|get_message:request.session.locale}}
            </label>

            <select name="units" class="input form-control">
                {% if state == 'edit' and sample.units %}
                    <option selected value="{{sample.units}}">{{sample.units|get_conept_by_uuid}}</option>
                {% else %}
                    <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option>
                {% endif %}
                {% for unit in units %}
                    <option value="{{ unit.uuid }}">{{ unit.name }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="input-container">
            <label class="input-label required">
                {{'commonlabtest.labtestsample.sampleIdentifier'|get_message:request.session.locale}}
            </label>
            {% if state == 'edit' and sample.sampleIdentifier %}
                <input class="input form-control" type="text" name="specimenid" value="{{sample.sampleIdentifier}}">
            {% else %}
                <input class="input form-control" type="text" name="specimenid"
                    value="{{'placeholder' | get_specimem_identifier}}">
            {% endif %}

        </div>
        <div class="input-container">
            <label class="input-label required">
                {{'commonlabtest.labtestsample.collectionDate'|get_message:request.session.locale}}
            </label>
            {% if state == 'edit' and sample.collectionDate %}
                <input required class="input form-control" type="date" name="collectedon"
                    value="{{sample.collectionDate|slice:':10'}}">
            {% else %}
                <input required class="input form-control" type="date" name="collectedon">
            {% endif %}
        </div>
        <div class="flex-center space-x-4">
            <button type="submit" id="submitBtn" class="button-primary w-1/5">
                {{'general.save'|get_message_openMRS:request.session.locale}}
            </button>
            <a href="javascript:history.go(-1)" class="cancel-button">
                {{'general.cancel'|get_message_openMRS:request.session.locale}}</a>
        </div>

    </form>
</div>

<script>
    let date = new Date();
    maxDate = date.toISOString().substring(0, 10);
    $('input[type="date"]').prop("max", maxDate)

    let state = '{{state | escapejs}}'
    if (state === 'edit') {
        $('input').prop('disabled', true)
        $('input[name=csrfmiddlewaretoken]').prop('disabled', false)
        $('select').prop('disabled', true).prop('', false)
        $('textarea').prop('disabled', true).prop('', false)
        $('#canceleditbtn').prop('hidden', true)
    }
    $('#editbtn').click(function () {
        $('input').prop('disabled', false)
        $('select').prop('disabled', false)
        $('textarea').prop('disabled', false)
        $('#canceleditbtn').prop('hidden', false)
        $('#referenceConcept').prop('disabled', true)
    })
    $('#canceleditbtn').click(function () {
        $('input').prop('disabled', true)
        $('select').prop('disabled', true)
        $('textarea').prop('disabled', true)
        $('#canceleditbtn').prop('hidden', true)
    })
    const disableSubmit = () => {
        $('#submitBtn').prop('disabled', true)
        $('#submitBtn').removeClass('button-primary')
        $('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
            colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
        </lord-icon>`)
    }

</script>

{% endblock %}