{% extends 'app/base/base.html' %} {% block title %} {{title}}
{%endblock %} {% block content %}

<div class="m-4">
  <h1 class="primary-heading">
    {{'commonlabtest.result.add'|get_message_commonlab:request.session.locale}}
  </h1>
  <form id="results-form" class="m-10 flex-column-center space-y-8"
    action="{% url 'addtestresults' orderid=orderid %}?patient={{request.GET.patient}}" method="post">
    {% csrf_token %}
    <div class="flex-column-center space-y-6" id="attributes-container">
      <div class="input-container">
        <label class="input-label">Attachment</label>
        <input type="file"
          class="ml-4 w-full text-sm rounded-md leading-6 file:bg-gray-200 file:text-black file:font-semi-bold file:border-none file:px-4 file:py-1 file:mr-6 file:border-gray-200 border border-gray-300 cursor-pointer" />
      </div>
    </div>

    <div id="results_accordions" class='flex flex-column-center space-y-8'>

    </div>

  </form>
</div>

<script>
  let attributes = JSON.parse("{{attributes | escapejs}}");
  let state = "{{state}}"
  console.log(state)
  let groups = [];
  if (attributes.length <= 0) {
    $("#results_accordions").html(
      `
               <div class="m-10 space-y-6 flex flex-col items-center justify-center">
                <h3 class="font-bold text-3xl">NO ATTRIBUTES FOUND</h3>
                <div class="flex items-center space-x-4">
                  <h3>No Attributes found</a>
               <a class="cancel-button" href="javascript:history.go(-1)">Go Back</a>
                  </div>
                </div>
               `
    );
  }
  if (state === 'edit') {
    for (attribute of attributes) {
      if (attribute.attributeType.group === null) {
        if (attribute.attributeType.inputType === "checkbox") {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <input value=${attribute.valueReference} class="" type=${attribute.inputType} name=${attribute.uuid} />
            </div>
          `
          );
        } else if (attribute.attributeType.inputType === "textarea") {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <textarea  class="input" type=${attribute.attributeType.inputType} name=${attribute.uuid}>${attribute.valueReference}</textarea>
            </div>
          `
          );
        } else if (attribute.attributeType.inputType === 'select') {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <select name=${attribute.uuid} class="input">
              <option selected >${attribute.valueReference}</option>
            </select>
            </div>
          `
          );
        }

        else {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <input class="input" type=${attribute.attributeType.inputType} name=${attribute.uuid} /input>
            </div>
          `
          );
        }
      } else {
        groups.push(attribute.attributeType.group);
      }
    }
  } else {
    for (attribute of attributes) {
      if (attribute.group === null) {
        if (attribute.inputType === "checkbox") {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <input class="" type=${attribute.inputType} name=${attribute.uuid} />
            </div>
          `
          );
        } else if (attribute.inputType === "textarea") {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <textarea class="input" type=${attribute.inputType} name=${attribute.uuid}> </textarea>
            </div>
          `
          );
        } else if (attribute.inputType === 'select') {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <select name=${attribute.uuid} class="input">
              <option>1</option>
            </select>
            </div>
          `
          );
        }

        else {
          $("#attributes-container").append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <input class="input" type=${attribute.inputType} name=${attribute.uuid} /input>
            </div>
          `
          );
        }
      } else {
        groups.push(attribute.group);
      }
    }
  }

  let duplicatesRemovedGroups = [...new Set(groups)];
  for (group of duplicatesRemovedGroups) {
    let group_name = group.toLowerCase();
    $("#results_accordions").append(
      `
    
      <div id="${group_name}_accordian" class="rounded-t-lg border border-neutral-200 bg-white text-black">
        <h2 id="${group_name}_heading" class="mb-0">
          <button
            class="group relative flex w-full items-center rounded-t-[15px] border-0 bg-white text-black px-5 py-4 text-left text-base  transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none "
            type="button" data-te-collapse-init data-te-target="#${group_name}_collapse" aria-expanded="false"
            aria-controls="${group_name}_collapse">
            ${group}
            <span
              class="ml-auto h-5 w-5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </span>
          </button>
        </h2>
        <div id="${group_name}_collapse" class="hidden" data-te-collapse-item aria-labelledby="${group_name}_heading"
          data-te-parent="#results_accordions">
          <div id="${group_name}_body" class="px-5 py-4 flex flex-col justify-center space-y-4">
            
          </div>
        </div>




    </div>





    
    
    
    
    
    `
    );
  }
  if (state === 'edit') {
    for (attribute of attributes) {
      if (attribute.attributeType.group != null) {
        if (attribute.attributeType.inputType === "checkbox") {
          $(`#${attribute.attributeType.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label style="width:50%;" class="input-label w-1/2">${attribute.name}</label>
            <input value=${attribute.valueReference} style="background-color:blue;" class="" type=${attribute.attributeType.inputType} name=${attribute.uuid} />
            </div>
          `
          );
        } else if (attribute.attributeType.inputType === "textarea") {
          $(`#${attribute.attributeType.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <textarea class="input" type=${attribute.attributeType.inputType} name=${attribute.uuid}>${attribute.valueReference} </textarea>
            </div>
          `
          );
        } else if (attribute.attributeType.inputType === "select") {
          $(`#${attribute.attributeType.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.attributeType.name}</label>
            <select id=${attribute.attributeType.uuid} name=${attribute.uuid} class="input">
              <option value="" selected>Select</option>
            </select>
            </div>
          `
          );
          for (answer of attribute.attributeType.answers) {
            if (answer.uuid === attribute.valueReference) {

              $(`#${attribute.attributeType.uuid}`).append(
                `<option selected value=${answer.uuid}>
                    ${answer.display}  
                  </option>`
              )
            } else {
              $(`#${attribute.attributeType.uuid}`).append(
                `<option selected value=${answer.uuid}>
                    ${answer.display}  
                  </option>`
              )
            }
          }

        }

        else {
          $(`#${attribute.attributeType.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.attributeType.name}</label>
            <input value=${attribute.valueReference} class="input" type=${attribute.attributeType.inputType} name=${attribute.uuid} /input>
            </div>
          `
          );
        }
      }
    }
  } else {
    for (attribute of attributes) {
      if (attribute.group != null) {
        if (attribute.inputType === "checkbox") {
          $(`#${attribute.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label style="width:50%;" class="input-label w-1/2">${attribute.name}</label>
            <input style="background-color:blue;" class="" type=${attribute.inputType} name=${attribute.uuid} />
            </div>
          `
          );
        } else if (attribute.inputType === "textarea") {
          $(`#${attribute.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <textarea class="input" type=${attribute.inputType} name=${attribute.uuid}> </textarea>
            </div>
          `
          );
        } else if (attribute.inputType === "select") {
          $(`#${attribute.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <select id=${attribute.uuid} name=${attribute.uuid} class="input">
              <option value="" selected>Select</option>
            </select>
            </div>
          `
          );
          for (answer of attribute.answers) {
            $(`#${attribute.uuid}`).append(
              `<option value=${answer.uuid}>
                  ${answer.display}  
                </option>`
            )
          }

        }

        else {
          $(`#${attribute.group.toLowerCase()}_body`).append(
            ` <div class="input-container">
            <label class="input-label">${attribute.name}</label>
            <input class="input" type=${attribute.inputType} name=${attribute.uuid} /input>
            </div>
          `
          );
        }
      }
    }
  }


  if (attributes.length > 0) {
    $("#results_accordions").append(
      `
        <div class="flex-center space-x-3">
            <input type="submit" class="button-primary w-1/5" value="Submit">
            <a class="cancel-button" href="javascript:history.go(-1)">Cancel</a>
        </div>
        `
    );
  }

</script>
{% endblock %}