{% extends 'app/base/base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}

<div id="modal-parent" class="relative">
  <div class="m-4">
    {% include 'app/components/breadcrumbs.html'%}
  </div>
  <section hidden id="modal"
    class="flex flex-col justify-center transition-opacity ease-in-out duration-500 opacity-0 backdrop-blur-3xl inset-0 z-50 shadow-2xl  m-10  bg-white w-3/5 mx-auto p-8 absolute top-0 left-0 right-0 bottom-0 h-min">
    <div class="flex items-center justify-between ">
      <h3 id="modal-testType" class="text-3xl">Sort Weight Order</h3>
      <svg id="close-modal" onclick="closeModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white bg-red-700 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>


    </div>
    <div class="m-4">
      <div id="attrbox" class="grid grid-cols-1 space-y-4 h-min w-full bg-gray-200 p-4 rounded-md shadow-md">
        <div class="search-result-items font-bold">
          <p class="col-span-2">Name</p>
          <p>Sort Weight</p>
          <p>Group Name</p>
          <p>Multiset Name</p>
        </div>


      </div>


  </section>
  <section>
    <div class="m-5 md:m-2">
      <div class="py-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <h2 class="text-4xl font-bold leading-tight text-[#2d9cdb]">
              {{'commonlabtest.labtesttype.manage'|get_message:request.session.locale}}</label>
            </h2>
            <a href="{% url 'addtesttype' %}"
              class="text-[#044062] font-bold underline">{{'general.add'|get_message_openMRS:request.session.locale}}
              {{'general.new'|get_message_openMRS:request.session.locale}}</a>

          </div>

        </div>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  {{'general.testName'|get_message:request.session.locale}}
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  {{'general.shortName'|get_message:request.session.locale}}
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  {{'general.description'|get_message:request.session.locale}} </th>

                <th
                  class="px-5 py-3 border-b-2 border-gray-800 bg-[#9DC6DE] text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  {{'ActiveLists.actions'|get_message_openMRS:request.session.locale}}
                </th>
              </tr>
            </thead>
            <tbody>
              {% if error %}
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  {{error}}
                </td>
              </tr>
              {% else %}
              {% if response %}
              {% for item in response %}
              <tr>
                <td class="px-5 pt-3 border-b border-gray-200 bg-white text-sm">
                  <div class="flex">
                    <div class="ml-3">
                      <p class="text-gray-900 whitespace-no-wrap">
                        {{item.name}}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 pt-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{item.shortName}}</p>
                </td>
                <td class="px-5 pt-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{item.description}}</p>
                </td>
                <td class="px-5 pt-3 border-b border-gray-200 bg-white text-sm">
                  <div class="flex-center space-x-2">
                    <svg onclick="showModal('{{item.uuid}}')" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 cursor-pointer">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <a href="{% url 'edittesttype' uuid=item.uuid  %}">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                      </svg>
                    </a>

                  </div>
                </td>


              </tr>
              {% endfor %}
              {% endif %}
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
</div>
<script defer>
  function showModal(uuid) {
    $('#modal').prop('hidden', false)
    $('#modal').removeClass('opacity-0')
    $('html,body').animate({ scrollTop: $('body').offset().top }, 'slow');
    let output = ''

    $.ajax(
      {
        url: "{% url 'fetchattributes' %}?uuid=" + `${uuid}`,
        method: 'GET',
        success: function (data) {



          $('#attrAccordion').html('')
          for (i = 0; i < data.attributes.length; i++) {
            $('#attrbox').append(
              `
            <div class="search-result-items font-bold">
          <p class="col-span-2">${data.attributes[i].attrName}</p>
          <p>${data.attributes[i].sortWeight}</p>
          <p>${data.attributes[i].groupName}</p>
          <p>${data.attributes[i].multisetName}</p>
        </div>
        `



            )
          }
        }
      }
    )
  }

  function closeModal() {
    $('#modal').addClass('opacity-0')
    $('#modal').prop('hidden', true)
    $('#attrbox').html(
      `
      <div class="search-result-items font-bold">
          <p class="col-span-2">Name</p>
          <p>Sort Weight</p>
          <p>Group Name</p>
          <p>Multiset Name</p>
        </div>
      `
    )
  }
</script>
{% endblock %}