{% extends 'app/base/base.html' %}

{% block title %}
{{title}}
{% endblock %}




{% block content %}

<div class="mx-auto responsive">
  {% include 'app/components/breadcrumbs.html'%}

  {% if state == 'edit' %}
  <div class="flex-center space-x-4">

    <h1 class="text-[#2D9CDB] text-3xl font-bold">
      {{'mdrtb.editProgram'|get_message:request.session.locale}}
    </h1>

  </div>
  {% else %}
  <h1 class="text-[#2D9CDB] text-3xl font-bold">
    {{'Program.add'|get_message_openMRS:request.session.locale}}
  </h1>
  {% endif %}
  <form onsubmit="disableSubmit()" id="enroll-form"
    action="{% if state == 'edit' %}{% url 'editdotsprogram' uuid=uuid programid=enrolled_program.uuid %}{% else %}{% url 'dotsprogramenroll' uuid=uuid %}{% endif %}"
    method="post" class="flex flex-col">

    {% csrf_token %}


    <div id="enroll-form" class="p-4 flex flex-col justify-center space-y-4">
      {% if state == 'edit' %}
      <div class="input-container">
        <label class="input-label w-1/6 required"
          for="">{{'Program.header'|get_message_openMRS:request.session.locale}}</label>
        <h3 class="font-bold">{{enrolled_program.program.name}}</h3>


      </div>
      {% else %}
      {% if flow and flow == 'new' %}
      <div class="input-container">
        <label class="input-label w-1/6 required"
          for="patientidentifier">{{'mdrtb.patientidentifier'|get_message:request.session.locale}}</label>
        <input class="input form-control" type="text" name="identifier" id="identifier" required />
        <input hidden type="text" name="identifierType" id="identifierType"
          value="{{'DOTS_IDENTIFIER' | get_constant }}">
      </div>
      {% endif %}
      <div hidden class="input-container">
        <label
          class="input-label w-1/6 required">{{'Program.header'|get_message_openMRS:request.session.locale}}</label>
        <input type="text" name="program" value="{{'DOTS_PROGRAM' | get_constant }}">

      </div>


      {% endif %}
      <div class="input-container">
        <label class="input-label w-1/6 required "
          for="">{{'mdrtb.enrollment.date'|get_message:request.session.locale}}</label>
        {% if state == 'edit' %}
        <button id="editEnrollmentDate" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        </button>
        <input class="input form-control" type="date" name="enrollmentdate" id="enrollmentdate" required
          value="{{enrolled_program.dateEnrolled | iso_to_normal_date}}" />

        {% else %}
        <input class="input form-control" type="date" name="enrollmentdate" id="enrollmentdate" required />
        {% endif %}
      </div>

      {% if state == 'edit' %}
      <div class="flex-column-center space-y-2">
        <div id="prefilledlocation" class="input-container">
          <label class="input-label w-1/6 flex-center space-x-2" for="">
            {{'mdrtb.location'|get_message:request.session.locale}}
            <button class="ml-4" id="editLocations" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
            </button>

          </label>

          <input class="input form-control" type="text" name="location" id="location"
            value="{{enrolled_program.location.name}}" />
          <div hidden id="locations" class="flex-column-center space-y-4">
            {% include 'app/components/locations.html' %}
          </div>
        </div>

      </div>
      {% else %}
      {% include 'app/components/locations.html' %}
      {% endif %}
      <div class="input-container">
        <label class="input-label w-1/6 "
          for="">{{'mdrtb.enrollment.completionDate'|get_message:request.session.locale}}</label>
        {% if state == 'edit' %}
        <button id="editCompletionDate" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        </button>
        <input required class="input form-control" type="date" name="completiondate" id="completiondate"
          value="{{enrolled_program.dateCompleted | iso_to_normal_date}}" />


        {% else %}
        <input required class="input form-control" type="date" name="completiondate" id="completiondate" />
        {% endif %}

      </div>
      <p hidden id="completiondate_error" style="color: rgba(255, 0, 0, 0.819);">{{'Relationship.InvalidEndDate.error' |
        get_message_openMRS:request.session.locale}}</p>
      {% if state != 'edit' %}
      <h3 id="initialStates" class="primary-heading text-xl">
        {{'Program.initialStates' | get_message_openMRS:request.session.locale}}</h3>
      {% endif %}
      <div id="states" style="display: flex; flex-direction: column-reverse;">


      </div>
    </div>

    <div class="flex items-center p-4 space-x-8">
      <button type="submit" id="submitBtn" class="button-primary w-1/5">
        {% if state == 'edit' %}
        {{'general.save'|get_message_openMRS:request.session.locale}}
        {% else %}
        {{'Program.enrollButton'|get_message_openMRS:request.session.locale}}
        {% endif %}
      </button>
      <a href="javascript:history.go(-1)" class="cancel-button">
        {{'general.cancel'|get_message_openMRS:request.session.locale}}
      </a>
    </div>
  </form>
  <script>


    $('#completiondate').change((e) => {
      const completionDate = new Date(e.target.value);
      const enrollmentDate = new Date($('#enrollmentdate').val());
      if (completionDate === enrollmentDate || completionDate < enrollmentDate) {
        $("#completiondate_error").prop("hidden", false); // Show the error message
        $('#submitBtn').addClass("pointer-events-none")
        setTimeout(() => {
          $('#submitBtn').removeClass("pointer-events-none")
          $("#completiondate_error").prop("hidden", true); // Hide the error message after 500 milliseconds
          $('#completiondate').val(''); // Clear the value of the date picker
        }, 2000);
      }
    });




    const disableSubmit = () => {
      $('#submitBtn').prop('disabled', true)
      $('#submitBtn').removeClass('button-primary')
      $('#submitBtn').html(`
        <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
                colors="primary:#000,secondary:#08a88a" style="width:50px;height:50px">
            </lord-icon>

        
        `)
    }

    let state = "{{state}}"

    if (state === 'edit') {
      $('input').prop('disabled', true).prop('required', false)
      $('select').prop('disabled', true).prop('required', false)
      $('button[type=submit]').prop('disabled', true)
      $('input[name=csrfmiddlewaretoken]').prop('disabled', false)

    }
    $('#editEnrollmentDate').click(() => {
      if ($('#enrollmentdate').prop('disabled')) {
        $('button[type=submit]').prop('disabled', false)
        $('#enrollmentdate').prop('disabled', false)
        $('#editEnrollmentDate').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>

          `
        )
      } else {
        $('button[type=submit]').prop('disabled', true)
        $('#enrollmentdate').prop('disabled', true)
        $('#editEnrollmentDate').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>

          `
        )
      }

    })
    $('#editCompletionDate').click(() => {

      if ($('#completiondate').prop('disabled')) {
        $('button[type=submit]').prop('disabled', false)
        $('#completiondate').prop('disabled', false)
        $('#editCompletionDate').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>

          `
        )
      } else {
        $('button[type=submit]').prop('disabled', true)
        $('#completiondate').prop('disabled', true)
        $('#editCompletionDate').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>

          `
        )
      }

    })
    $('#editLocations').click(() => {
      if ($('#locations').prop('hidden')) {
        $('select').prop('disabled', false)
        $('button[type=submit]').prop('disabled', false)
        $('#prefilledlocation').removeClass('input-container').addClass('flex-column-center')
        $('#location').prop('hidden', true)
        $('#locations').prop('hidden', false)
        $('#editLocations').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
          `
        )
      } else {
        $('select').prop('disabled', true)
        $('button[type=submit]').prop('disabled', true)
        $('#location').prop('hidden', false)
        $('#prefilledlocation').removeClass('flex-column-center').addClass('input-container')
        $('#locations').prop('hidden', true)
        $('#editLocations').html(
          `
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 cursor-pointer text-black">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
          `
        )
      }


    })

    let program = JSON.parse("{{jsonprogram|escapejs}}")
    $(document).ready(() => {
      for (workFlow of program.allWorkflows) {
        if (!workFlow.retired) {
          $('#states').append(
            ` <div class="input-container mt-3">
        <label class="font-bold normal-case text-sm text-[#9E9E9E] w-2/5 "
          >${workFlow.concept.display}</label
        >
        <select class="input w-3/5 form-control" name=${workFlow.uuid} id=${workFlow.uuid}>
          <option selected value="">{{'mdrtb.selectOption'|get_message:request.session.locale}}</option></select>
      </div>
                  `
          )
          workFlow.states.forEach(item => {
            if (item.retired === false) {

              $(`#${workFlow.uuid}`).append(
                `<option value=${item.uuid}>${item.concept.display}</option>`
              )
            }
          })
        }
      }
    })
    let date = new Date();
    let maxDate = date.toISOString().substring(0, 10);
    $('input[type=date]').prop('max', maxDate)




  </script>
</div>

{% endblock %}