{% extends 'app/base/base.html' %}
{% block title %}
{{title}}
{%endblock %}


{%block content%}

<div>
  <form action="{% url 'form89' uuid=uuid %}" method="post" class="flex flex-col">
    {% csrf_token %}
    <div class="m-16 flex flex-col justify-center space-y-4">
      <h1 class="text-[#2D9CDB] text-3xl font-bold">
        {{'mdrtb.form89'|get_message:request.session.locale}}
      </h1>
      <div class="bg-[#9e9e9e28] shadow-md p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.name'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full">
              {{current_patient_program_flow.current_patient.name}}
            </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.ageAtRegistration'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full"> {{current_patient_program_flow.current_patient.age}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.gender'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full">
              {{current_patient_program_flow.current_patient.gender}}
            </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.address'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full">
              {{current_patient_program_flow.current_patient.address}}
            </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.dateOfBirth'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full">
              {{current_patient_program_flow.current_patient.dob |iso_to_normal_date }} </span>
          </div>
        </div>
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.location'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full"> {{current_patient_program_flow.current_program.location.name}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.tb03RegistrationYear'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full"> {{identifiers.dots.created_at | get_year }} </span>
          </div>

          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.form89.registrationDate'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full"> {{identifiers.dots.created_at | iso_to_normal_date }} </span>
          </div>

          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.tb03RegistrationNumber'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label w-full">
              {{identifiers.dots.identifier}}
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.locationType'|get_message:request.session.locale}}</label>
            <select class="input">
              <option selected value="">Select</option>
              {% for concept in concepts.locationtype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.profession'|get_message:request.session.locale}}</label>
            <select class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.profession %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.populationCategory'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.populationcategory %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.countryOfOrigin'|get_message:request.session.locale}}</label>
            <input required type="text" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.placeOfDetection'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.placeofdetection %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.dateFirstSeekingHelp'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.circumstancesOfDetection'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.circumstancesofdetection %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.cityOfOrigin'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.dateOfReturn'|get_message:request.session.locale}}</label>
            <input type="date" class="input">
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.methodOfDetection'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.methodofdetection %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.otherMethodOfDetection'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" />
          </div>
          <div class="input-container">
            <label class="tb03-form-label w-full">{{'mdrtb.form89.epSite'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.siteofeptb %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.epLocation'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.siteofeptb %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.presenceOfDecay'|get_message:request.session.locale}}</label>
            <select required class="input">

              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.dateOfDecaySurvey'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.resistancetype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.complication'|get_message:request.session.locale}}</label>
            <select required class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.tuberculosistreatmentoutcome %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="bg-[#9e9e9e28] shadow-md p-4 my-4 flex flex-col justify-center space-y-6">
          <h2 class="text-[#2D9CDB] text-2xl font-bold">
            {{'mdrtb.form89.comorbidities'|get_message:request.session.locale}}
          </h2>

          <div class="flex-center justify-end space-x-6">
            <div class="input-container w-5/5">
              <label
                class="tb03-form-label w-2/5">{{'mdrtb.form89.diabetes'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
            <div class="input-container w-5/5">
              <label class="tb03-form-label  w-2/5">{{'mdrtb.form89.cnsdl'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
          </div>
          <div class="flex-center justify-end space-x-6">
            <div class="input-container w-5/5">
              <label
                class="tb03-form-label  w-2/5">{{'mdrtb.form89.htHeartDisease'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
            <div class="input-container w-5/5">
              <label class="tb03-form-label  w-2/5">{{'mdrtb.form89.ulcer'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
          </div>
          <div class="flex-center justify-end space-x-6">
            <div class="input-container w-5/5">
              <label
                class="tb03-form-label  w-2/5">{{'mdrtb.form89.mentalDisorder'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
            <div class="input-container w-5/5">
              <label class="tb03-form-label  w-2/5">{{'mdrtb.form89.cancer'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
          </div>
          <div class="flex-center justify-end space-x-6">
            <div class="input-container w-5/5">
              <label
                class="tb03-form-label w-2/5">{{'mdrtb.form89.hepatitis'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
            <div class="input-container w-5/5">
              <label
                class="tb03-form-label  w-2/5">{{'mdrtb.form89.kidneyDisease'|get_message:request.session.locale}}</label>
              <div class="flex-center space-x-4 w-3/5">
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.yes'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="M" />
                </div>
                <div class="flex-center space-x-2">
                  <label>{{'mdrtb.no'|get_message:request.session.locale}}</label>
                  <input required type="radio" value="F" />
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label w-full">{{'mdrtb.form89.cmacDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" />
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.cmacNumber'|get_message:request.session.locale}}</label>
            <select class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.causeofdeath %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.prescribedTreatment'|get_message:request.session.locale}}</label>
            <select class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.prescribedtreatment %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>

          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.placeOfCommission'|get_message:request.session.locale}}</label>
            <select class="input">
              <option selected value="">Select</option>

              {% for concept in concepts.cmacplace %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.nameOfDoctor'|get_message:request.session.locale}}</label>
            <input type="text" class="input" />
          </div>
          <div class="input-container">
            <label
              class="tb03-form-label w-full">{{'mdrtb.form89.form89Date'|get_message:request.session.locale}}</label>
            <input type="date">
          </div>
        </div>

      </div>
      <div class="px-4 flex-center space-x-4">
        <button class="button-primary w-1/5">Save</button>
        <button class="cancel-button">Cancel</button>
      </div>
    </div>
  </form>
</div>
<script>
  console.log(JSON.parse("{{jsonconcepts | escapejs}}"))
  let date = new Date();
  maxDate = date.toISOString().substring(0, 10);
  $('input[type="date"]').prop("max", maxDate);
</script>

{% endblock %}