{% extends 'app/base/base_without_menu.html' %}

{% block title %}
{{title}}
{% endblock %}



{%block content%}

<div>
  <form action="{% url 'tb03' %}" method="post" class="flex flex-col">
    {% csrf_token %}
    <div class="m-16 flex flex-col justify-center space-y-4">
      <h1 class="text-[#2D9CDB] text-3xl font-bold">
        {{'mdrtb.tb03'|get_message:request.session.locale}} Form
      </h1>
      <div class="bg-[#9e9e9e28] shadow-md p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.dateOfRegistration'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{enrollment_info.enroll_date}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.oblast'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{enrollment_info.oblast}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.district'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{enrollment_info.district}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.facility'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{enrollment_info.facility}} </span>
          </div>
        </div>
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.name'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.names.0.familyName}},{{created_patient.names.0.givenName}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.registrationNumber'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.identifiers.0.identifier}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.gender'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.gender}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.ageAtRegistration'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.age}} </span>
          </div>
        </div>
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.dateOfBirth'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.age}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.address'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{created_patient.addresses.0.address1}} </span>
          </div>
        </div>
        <div class="flex items-center space-x-12">
          <div class="space-x-3">
            <span class="font-bold">
              {{'mdrtb.tb03.registrationGroup'|get_message:request.session.locale}}:
            </span>
            <span class="tb03-form-label"> {{enrollment_info.registration_group_prev_treatment}} </span>
          </div>
          <div class="space-x-3">
            <span class="font-bold">
              Registration Group previous drug use
            </span>
            <span class="tb03-form-label"> {{enrollment_info.registration_group_prev_drug}} </span>
          </div>
        </div>
      </div>
      <div class="p-4 flex flex-col justify-center space-y-4">
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="ipCenter">{{'mdrtb.tb03.treatmentSiteIP'|get_message:request.session.locale}}</label>
            <select required class="input" name="ipCenter">
              {% for concept in concepts.treatmentcenterforip %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="ipCenterName">{{'mdrtb.tb03.nameOfIPFacility'|get_message:request.session.locale}}</label>
            <input required type="text" class="input" name="ipCenterName">
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="cpCenter">{{'mdrtb.tb03.treatmentSiteCP'|get_message:request.session.locale}}</label>
            <select required class="input" name="cpCenter">
              {% for concept in concepts.treatmentcenterforcp %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="cpCenterName">{{'mdrtb.tb03.nameOfCPFacility'|get_message:request.session.locale}}</label>
            <input required type="text" class="input" name="cpCenterName">
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="regimenType">{{'mdrtb.tb03.patientCategory'|get_message:request.session.locale}}</label>
            <select required class="input" name="regimenType">
              {% for concept in concepts.tuberculosispatientcategory %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="treatmentStartDate">{{'mdrtb.tb03.treatmentStartDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="treatmentStartDate" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="siteOfTb">{{'mdrtb.tb03.siteOfDisease'|get_message:request.session.locale}}</label>
            <select required class="input" name="siteOfTb">
              {% for concept in concepts.siteoftbdisease %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="hivDate">{{'mdrtb.tb03.hivTestDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="hivDate"/>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="hivStatus">{{'mdrtb.tb03.hivStatus'|get_message:request.session.locale}}</label>
            <select required class="input" name="hivStatus">
              {% for concept in concepts.resultofhivtest %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="artDate">{{'mdrtb.tb03.artStartDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="artDate" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="pctDate">{{'mdrtb.tb03.pctStartDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="pctDate" />
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="xrayDate">{{'mdrtb.tb03.xrayDate'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="xrayDate" />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="resistanceType">{{'mdrtb.tb03.resistanceType'|get_message:request.session.locale}}</label>
            <select required class="input" name="resistanceType">
              {% for concept in concepts.resistancetype %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="treatmentOutcome">{{'mdrtb.tb03.treatmentOutcome'|get_message:request.session.locale}}</label>
            <select required class="input" name="treatmentOutcome">
              {% for concept in concepts.tuberculosistreatmentoutcome %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="treatmentOutcomeDate">{{'mdrtb.tb03.treatmentOutcomeDateOnly'|get_message:request.session.locale}}</label>
            <input required type="date" class="input" name="treatmentOutcomeDate">
          </div>
          <div class="input-container">
            <label class="tb03-form-label" for="causeOfDeath">{{'mdrtb.causeOfDeath'|get_message:request.session.locale}}</label>
            <select class="input" name="causeOfDeath">
              {% for concept in concepts.causeofdeath %}
              <option value="{{concept.uuid}}">{{concept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="deathDate">{{'mdrtb.tb03.afterOutcomeDeathDate'|get_message:request.session.locale}}</label>
            <input type="date" class="input" name="deathDate"/>
          </div>
          <div class="input-container opacity-0">
            <label class="tb03-form-label" for="forSpace">Hidden</label>
            <input disabled type="date" class="input" name="forSpace"/>
          </div>
        </div>
        <div class="flex items-center justify-between space-x-6">
          <div class="input-container">
            <label class="tb03-form-label" for="clinicalNotes">{{'mdrtb.tb03.clinicalNotes'|get_message:request.session.locale}}</label>
            <textarea required class="input" name="clinicalNotes"></textarea>
          </div>
        </div>
      </div>
      <div class="p-4 flex items-center">
        <button class="button-primary w-1/5">
          Save
        </button>
        
        <a 
        href="javascript:history.go(-1)"
          class="cancel-button">
          Cancel
        </a>
      </div>
    </div>
    
  </form>
</div>
<script>
  let date = new Date();
  maxDate = date.toISOString().substring(0, 10);
  $('input[type="date"]').prop("max" , maxDate)
</script>

{% endblock %}